doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Buttons &amp; Icon - Ace Admin
    meta(name='description', content='Common Buttons & Icons')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/font-awesome/4.5.0/css/font-awesome.min.css')
    // page specific plugin styles
    // text fonts
    link(rel='stylesheet', href='assets/css/fonts.googleapis.com.css')
    // ace styles
    link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace.min.css')
    //if lte IE 9
      link.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace-part2.min.css')
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')
    link(rel='stylesheet', href='assets/css/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ace-ie.min.css')
    // inline styles related to this page
    // ace settings handler
    script(src='assets/js/ace-extra.min.js')
    // HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    //if lte IE 8
      script(src='assets/js/html5shiv.min.js')
      script(src='assets/js/respond.min.js')
  body.no-skin
    #navbar.navbar.navbar-default.ace-save-state
      #navbar-container.navbar-container.ace-save-state
        button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button', data-target='#sidebar')
          span.sr-only Toggle sidebar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-header.pull-left
          a.navbar-brand(href='index.html')
            small
              i.fa.fa-leaf
              | Ace Admin
        .navbar-buttons.navbar-header.pull-right(role='navigation')
          ul.nav.ace-nav
            li.grey.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-tasks
                span.badge.badge-grey 4
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-check
                  | 4 Tasks to complete
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Software Update
                          span.pull-right 65%
                        .progress.progress-mini
                          .progress-bar(style='width:65%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Hardware Upgrade
                          span.pull-right 35%
                        .progress.progress-mini
                          .progress-bar.progress-bar-danger(style='width:35%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Unit Testing
                          span.pull-right 15%
                        .progress.progress-mini
                          .progress-bar.progress-bar-warning(style='width:15%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Bug Fixes
                          span.pull-right 90%
                        .progress.progress-mini.progress-striped.active
                          .progress-bar.progress-bar-success(style='width:90%')
                li.dropdown-footer
                  a(href='#')
                    | See tasks with details
                    i.ace-icon.fa.fa-arrow-right
            li.purple.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
                span.badge.badge-important 8
              ul.dropdown-menu-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-exclamation-triangle
                  | 8 Notifications
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar.navbar-pink
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-pink.fa.fa-comment
                            | New Comments
                          span.pull-right.badge.badge-info +12
                    li
                      a(href='#')
                        i.btn.btn-xs.btn-primary.fa.fa-user
                        | Bob just signed up as an editor ...
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-success.fa.fa-shopping-cart
                            | New Orders
                          span.pull-right.badge.badge-success +8
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-info.fa.fa-twitter
                            | Followers
                          span.pull-right.badge.badge-info +11
                li.dropdown-footer
                  a(href='#')
                    | See all notifications
                    i.ace-icon.fa.fa-arrow-right
            li.green.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-envelope.icon-animated-vertical
                span.badge.badge-success 5
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-envelope-o
                  | 5 Messages
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar.png', alt="Alex's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Alex:
                            | Ciao sociis natoque penatibus et auctor ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span a moment ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Susan:
                            | Vestibulum id ligula porta felis euismod ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 20 minutes ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Bob:
                            | Nullam quis risus eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 3:15 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Kate:
                            | Ciao sociis natoque eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 1:33 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Fred:
                            | Vestibulum id penatibus et auctor  ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 10:09 am
                li.dropdown-footer
                  a(href='inbox.html')
                    | See all messages
                    i.ace-icon.fa.fa-arrow-right
            li.light-blue.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
                span.user-info
                  small Welcome,
                  | Jason
                i.ace-icon.fa.fa-caret-down
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    | Settings
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    | Profile
                li.divider
                li
                  a(href='#')
                    i.ace-icon.fa.fa-power-off
                    | Logout
      // /.navbar-container
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try{ace.settings.loadState('main-container')}catch(e){}
      #sidebar.sidebar.responsive.ace-save-state
        script(type='text/javascript').
          try{ace.settings.loadState('sidebar')}catch(e){}
        #sidebar-shortcuts.sidebar-shortcuts
          #sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-success
              i.ace-icon.fa.fa-signal
            button.btn.btn-info
              i.ace-icon.fa.fa-pencil
            button.btn.btn-warning
              i.ace-icon.fa.fa-users
            button.btn.btn-danger
              i.ace-icon.fa.fa-cogs
          #sidebar-shortcuts-mini.sidebar-shortcuts-mini
            span.btn.btn-success
            span.btn.btn-info
            span.btn.btn-warning
            span.btn.btn-danger
        // /.sidebar-shortcuts
        ul.nav.nav-list
          li
            a(href='index.html')
              i.menu-icon.fa.fa-tachometer
              span.menu-text  Dashboard 
            b.arrow
          li.active.open
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-desktop
              span.menu-text
                | UI &amp; Elements
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Layouts
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='top-menu.html')
                      i.menu-icon.fa.fa-caret-right
                      | Top Menu
                    b.arrow
                  li
                    a(href='two-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 1
                    b.arrow
                  li
                    a(href='two-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 2
                    b.arrow
                  li
                    a(href='mobile-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Default Mobile Menu
                    b.arrow
                  li
                    a(href='mobile-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 2
                    b.arrow
                  li
                    a(href='mobile-menu-3.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 3
                    b.arrow
              li
                a(href='typography.html')
                  i.menu-icon.fa.fa-caret-right
                  | Typography
                b.arrow
              li
                a(href='elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Elements
                b.arrow
              li.active
                a(href='buttons.html')
                  i.menu-icon.fa.fa-caret-right
                  | Buttons &amp; Icons
                b.arrow
              li
                a(href='content-slider.html')
                  i.menu-icon.fa.fa-caret-right
                  | Content Sliders
                b.arrow
              li
                a(href='treeview.html')
                  i.menu-icon.fa.fa-caret-right
                  | Treeview
                b.arrow
              li
                a(href='jquery-ui.html')
                  i.menu-icon.fa.fa-caret-right
                  | jQuery UI
                b.arrow
              li
                a(href='nestable-list.html')
                  i.menu-icon.fa.fa-caret-right
                  | Nestable Lists
                b.arrow
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Three Level Menu
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='#')
                      i.menu-icon.fa.fa-leaf.green
                      | Item #1
                    b.arrow
                  li
                    a.dropdown-toggle(href='#')
                      i.menu-icon.fa.fa-pencil.orange
                      | 4th level
                      b.arrow.fa.fa-angle-down
                    b.arrow
                    ul.submenu
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-plus.purple
                          | Add Product
                        b.arrow
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-eye.pink
                          | View Products
                        b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-list
              span.menu-text  Tables 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='tables.html')
                  i.menu-icon.fa.fa-caret-right
                  | Simple &amp; Dynamic
                b.arrow
              li
                a(href='jqgrid.html')
                  i.menu-icon.fa.fa-caret-right
                  | jqGrid plugin
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-pencil-square-o
              span.menu-text  Forms 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='form-elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements
                b.arrow
              li
                a(href='form-elements-2.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements 2
                b.arrow
              li
                a(href='form-wizard.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wizard &amp; Validation
                b.arrow
              li
                a(href='wysiwyg.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wysiwyg &amp; Markdown
                b.arrow
              li
                a(href='dropzone.html')
                  i.menu-icon.fa.fa-caret-right
                  | Dropzone File Upload
                b.arrow
          li
            a(href='widgets.html')
              i.menu-icon.fa.fa-list-alt
              span.menu-text  Widgets 
            b.arrow
          li
            a(href='calendar.html')
              i.menu-icon.fa.fa-calendar
              span.menu-text
                | Calendar
                span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                  i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
            b.arrow
          li
            a(href='gallery.html')
              i.menu-icon.fa.fa-picture-o
              span.menu-text  Gallery 
            b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-tag
              span.menu-text  More Pages 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='profile.html')
                  i.menu-icon.fa.fa-caret-right
                  | User Profile
                b.arrow
              li
                a(href='inbox.html')
                  i.menu-icon.fa.fa-caret-right
                  | Inbox
                b.arrow
              li
                a(href='pricing.html')
                  i.menu-icon.fa.fa-caret-right
                  | Pricing Tables
                b.arrow
              li
                a(href='invoice.html')
                  i.menu-icon.fa.fa-caret-right
                  | Invoice
                b.arrow
              li
                a(href='timeline.html')
                  i.menu-icon.fa.fa-caret-right
                  | Timeline
                b.arrow
              li
                a(href='search.html')
                  i.menu-icon.fa.fa-caret-right
                  | Search Results
                b.arrow
              li
                a(href='email.html')
                  i.menu-icon.fa.fa-caret-right
                  | Email Templates
                b.arrow
              li
                a(href='login.html')
                  i.menu-icon.fa.fa-caret-right
                  | Login &amp; Register
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-file-o
              span.menu-text
                | Other Pages
                span.badge.badge-primary 5
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='faq.html')
                  i.menu-icon.fa.fa-caret-right
                  | FAQ
                b.arrow
              li
                a(href='error-404.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 404
                b.arrow
              li
                a(href='error-500.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 500
                b.arrow
              li
                a(href='grid.html')
                  i.menu-icon.fa.fa-caret-right
                  | Grid
                b.arrow
              li
                a(href='blank.html')
                  i.menu-icon.fa.fa-caret-right
                  | Blank Page
                b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
      .main-content
        .main-content-inner
          #breadcrumbs.breadcrumbs.ace-save-state
            ul.breadcrumb
              li
                i.ace-icon.fa.fa-home.home-icon
                a(href='#') Home
              li
                a(href='#') UI &amp; Elements
              li.active Buttons &amp; Icons
            // /.breadcrumb
            #nav-search.nav-search
              form.form-search
                span.input-icon
                  input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                  i.ace-icon.fa.fa-search.nav-search-icon
            // /.nav-search
          .page-content
            #ace-settings-container.ace-settings-container
              #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
                i.ace-icon.fa.fa-cog.bigger-130
              #ace-settings-box.ace-settings-box.clearfix
                .pull-left.width-50
                  .ace-settings-item
                    .pull-left
                      select#skin-colorpicker.hide
                        option(data-skin='no-skin', value='#438EB9') #438EB9
                        option(data-skin='skin-1', value='#222A2D') #222A2D
                        option(data-skin='skin-2', value='#C6487E') #C6487E
                        option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
                    span &nbsp; Choose Skin
                  .ace-settings-item
                    input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-navbar')  Fixed Navbar
                  .ace-settings-item
                    input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
                  .ace-settings-item
                    input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
                  .ace-settings-item
                    input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
                  .ace-settings-item
                    input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-add-container')
                      | Inside
                      b .container
                // /.pull-left
                .pull-left.width-50
                  .ace-settings-item
                    input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-hover')  Submenu on Hover
                  .ace-settings-item
                    input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-compact')  Compact Sidebar
                  .ace-settings-item
                    input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-highlight')  Alt. Active Item
                // /.pull-left
              // /.ace-settings-box
            // /.ace-settings-container
            .page-header
              h1
                | Buttons &amp; Icon
                small
                  i.ace-icon.fa.fa-angle-double-right
                  | Common Buttons &amp; Icons
            // /.page-header
            .row
              .col-xs-12
                // PAGE CONTENT BEGINS
                .row
                  .col-xs-12
                    h3.header.smaller.lighter.green Application Buttons
                    p
                    a.btn.btn-default.btn-app.radius-4(href='#')
                      i.ace-icon.fa.fa-cog.bigger-230
                      | Default
                      span.badge.badge-pink +3
                    a.btn.btn-app.btn-primary.no-radius(href='#')
                      i.ace-icon.fa.fa-pencil-square-o.bigger-230
                      | Edit
                      span.badge.badge-warning.badge-left 11
                    a.btn.btn-app.btn-success(href='#')
                      i.ace-icon.fa.fa-refresh.bigger-230
                      | Reload
                    button.btn.btn-app.btn-warning
                      i.ace-icon.fa.fa-undo.bigger-230
                      | Undo
                    a.btn.btn-app.btn-info.btn-sm.no-radius(href='#')
                      i.ace-icon.fa.fa-envelope.bigger-200
                      | Mailbox
                      span.label.label-inverse.arrowed-in 6+
                    button.btn.btn-app.btn-danger.btn-sm
                      i.ace-icon.fa.fa-trash-o.bigger-200
                      | Delete
                    button.btn.btn-app.btn-purple.btn-sm
                      i.ace-icon.fa.fa-cloud-upload.bigger-200
                      | Upload
                    button.btn.btn-app.btn-pink.btn-sm
                      i.ace-icon.fa.fa-share.bigger-200
                      | Share
                    button.btn.btn-app.btn-inverse.btn-xs
                      i.ace-icon.fa.fa-lock.bigger-160
                      | Lock
                    button.btn.btn-app.btn-grey.btn-xs.radius-4
                      i.ace-icon.fa.fa-floppy-o.bigger-160
                      | Save
                      span.badge.badge-transparent
                        i.light-red.ace-icon.fa.fa-asterisk
                    button.btn.btn-app.btn-light.btn-xs
                      i.ace-icon.fa.fa-print.bigger-160
                      | Print
                    a.btn.btn-app.btn-yellow.btn-xs(href='#')
                      i.ace-icon.fa.fa-shopping-cart.bigger-160
                      | Shop
                    .btn-group
                      button.btn.btn-app.btn-pink.btn-xs
                        i.ace-icon.fa.fa-share.bigger-175
                        | Share
                      button.btn.btn-app.btn-pink.btn-xs.dropdown-toggle(data-toggle='dropdown')
                        span.bigger-110.ace-icon.fa.fa-caret-down.icon-only
                      ul.dropdown-menu.dropdown-pink
                        li
                          a(href='#') Action
                        li
                          a(href='#') Another action
                        li
                          a(href='#') Something else here
                        li.divider
                        li
                          a(href='#') Separated link
                    // /.btn-group
                .space
                .row
                  #default-buttons.col-sm-6
                    h3.row.header.smaller.lighter.purple
                      span.col-sm-6  Default Buttons 
                      // /.col
                      span.col-sm-6
                        label.pull-right.inline
                          small.muted.smaller-90 Border:
                          input#id-button-borders.ace.ace-switch.ace-switch-5(checked='', type='checkbox')
                          span.lbl.middle
                      // /.col
                    // /.row
                    p
                      button.btn Default 
                      button.btn.btn-primary Primary
                      button.btn.btn-info Info
                      button.btn.btn-success Success
                    p
                      button.btn.btn-warning Warning
                      button.btn.btn-danger Danger
                      button.btn.btn-inverse Inverse
                      button.btn.btn-pink Pink
                    p
                      button.btn.btn-purple Purple
                      button.btn.btn-yellow Yellow
                      button.btn.btn-grey Grey
                      button.btn.btn-light Light
                      button.btn.btn-link Link
                    p
                      button.btn.btn-white(type='button') White
                      button.btn.btn-white.btn-default(type='button') Default
                      button.btn.btn-white.btn-primary(type='button') Primary
                      button.btn.btn-white.btn-info(type='button') Info
                      button.btn.btn-white.btn-success(type='button') Success
                      button.btn.btn-white.btn-warning(type='button') Warning
                    p
                      button.btn.btn-white.btn-danger.btn-sm(type='button') Danger
                      button.btn.btn-white.btn-yellow.btn-sm(type='button') Yellow
                      button.btn.btn-white.btn-pink.btn-sm(type='button') Pink
                      button.btn.btn-white.btn-purple.btn-sm(type='button') Purple
                      button.btn.btn-white.btn-inverse.btn-sm(type='button') Inverse
                    h3.header.smaller.lighter.green Button with Icons
                    p
                      button.btn.btn-white.btn-info.btn-bold
                        i.ace-icon.fa.fa-floppy-o.bigger-120.blue
                        | Backup
                      button.btn.btn-white.btn-warning.btn-bold
                        i.ace-icon.fa.fa-trash-o.bigger-120.orange
                        | Delete
                      button.btn.btn-white.btn-default.btn-round
                        i.ace-icon.fa.fa-times.red2
                        | Cancel
                    .hr.hr-dotted.hr-16
                    p
                      button.btn
                        i.ace-icon.fa.fa-pencil.align-top.bigger-125
                        | Default
                      button.btn.btn-primary
                        i.ace-icon.fa.fa-flask.align-top.bigger-125
                        | Primary
                      button.btn.btn-info
                        | Info
                        i.ace-icon.fa.fa-print.align-top.bigger-125.icon-on-right
                    p
                      button.btn.btn-lg.btn-success
                        i.ace-icon.fa.fa-check
                        | Success
                      button.btn.btn-sm.btn-warning
                        i.ace-icon.fa.fa-fire.bigger-110
                        span.bigger-110.no-text-shadow Warning
                      button.btn.btn-xs.btn-danger
                        i.ace-icon.fa.fa-bolt.bigger-110
                        | Danger
                        i.ace-icon.fa.fa-arrow-right.icon-on-right
                    p
                      button.btn.btn-info
                        i.ace-icon.fa.fa-signal.icon-only.bigger-150
                      button.btn.btn-warning.btn-xs
                        i.ace-icon.fa.fa-wrench.bigger-110.icon-only
                      button.btn.btn-danger.btn-sm
                        i.ace-icon.fa.fa-reply.icon-only
                      button.btn.btn-grey.btn-lg
                        i.ace-icon.fa.fa-trash-o.fa-2x.icon-only
                  // /.col
                  .col-sm-6
                    h3.header.smaller.lighter.red Button Sizing
                    p
                      button.btn.btn-minier.btn-yellow Minier
                      button.btn.btn-xs Mini
                      button.btn.btn-sm.btn-primary Small
                      button.btn.btn-info Default
                      button.btn.btn-lg.btn-success Large Size
                    p
                      button.btn.btn-warning.btn-xlg Larger Size
                      button.btn.btn-danger Default
                      button.btn.btn-sm.btn-inverse Small
                      button.btn.btn-xs.btn-pink Pink
                      button.btn.btn-minier.btn-purple Purple
                    h3.header.smaller.lighter.grey Disabled Buttons
                    p
                      button.btn.disabled Default 
                      button.btn.disabled.btn-primary Primary
                      button.btn.disabled.btn-info Info
                      button.btn.disabled.btn-success Success
                    hr
                    p
                      button.btn.btn-danger.btn-block Block Button
                  // /.col
                // /.row
                hr
                .row
                  .col-sm-6
                    h3.header.smaller.lighter.blue Button Groups
                    p
                    .btn-group
                      button.btn(type='button') 1
                      button.btn(type='button') 2
                      button.btn(type='button') 3
                    p
                    .btn-group
                      button.btn.btn-white.btn-sm.btn-primary(type='button') Left
                      button.btn.btn-white.btn-sm.btn-primary(type='button') Middle
                      button.btn.btn-white.btn-sm.btn-primary(type='button') Right
                    p
                    .btn-toolbar
                      .btn-group
                        button.btn.btn-light 1
                        button.btn.btn-light 2
                        button.btn.btn-light 3
                        button.btn.btn-light 4
                      .btn-group.btn-corner
                        button.btn 5
                        button.btn 6
                        button.btn 7
                      .btn-group
                        button.btn.btn-grey 8
                    p
                    .btn-group.btn-group-vertical
                      button.btn(type='button')
                        i.icon-only.ace-icon.fa.fa-align-left
                      button.btn(type='button')
                        i.icon-only.ace-icon.fa.fa-align-center
                      button.btn(type='button')
                        i.icon-only.ace-icon.fa.fa-align-right
                      button.btn(type='button')
                        i.icon-only.ace-icon.fa.fa-align-justify
                    .space-6
                    p
                      button#loading-btn.btn.btn-success(type='button', data-loading-text='Loading...') Loading state
                      button.btn.btn-primary(type='button', data-toggle='button') Single Toggle
                      button.btn.btn-sm.btn-danger(type='button', data-toggle='button') Small
                      button.btn.btn-xs.btn-info(type='button', data-toggle='button') Mini
                    p
                    div
                      span Checkbox: &nbsp;
                      .btn-group(data-toggle='buttons')
                        label.btn.btn-sm
                          input(type='checkbox', value='1')
                          i.icon-only.ace-icon.fa.fa-bold.bigger-110
                        label.btn.btn-sm
                          input(type='checkbox', value='2')
                          i.icon-only.ace-icon.fa.fa-italic.bigger-110
                        label.btn.btn-sm
                          input(type='checkbox', value='3')
                          i.icon-only.ace-icon.fa.fa-underline.bigger-110
                    p
                    div
                      span Checkbox: &nbsp;
                      .btn-group.btn-overlap.btn-corner(data-toggle='buttons')
                        label.btn.btn-sm.btn-white.btn-info
                          input(type='checkbox', value='1')
                          i.icon-only.ace-icon.fa.fa-bold.bigger-110
                        label.btn.btn-sm.btn-white.btn-info
                          input(type='checkbox', value='2')
                          i.icon-only.ace-icon.fa.fa-italic.bigger-110
                        label.btn.btn-sm.btn-white.btn-info
                          input(type='checkbox', value='3')
                          i.icon-only.ace-icon.fa.fa-underline.bigger-110
                    p
                    div
                      span Radio: &nbsp;
                      .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                          input(type='radio', value='1')
                          i.icon-only.ace-icon.fa.fa-align-left
                        label.btn.btn-primary
                          input(type='radio', value='2')
                          i.icon-only.ace-icon.fa.fa-align-center
                        label.btn.btn-primary
                          input(type='radio', value='3')
                          i.icon-only.ace-icon.fa.fa-align-right
                      label.btn.btn-primary(data-toggle='button')
                        i.icon-only.ace-icon.fa.fa-align-justify
                  // /.span
                  .col-sm-6
                    h3.header.smaller.lighter.green Button Dropdown
                    p
                    .btn-toolbar
                      .btn-group
                        button.btn.dropdown-toggle(data-toggle='dropdown')
                          | Action
                          span.ace-icon.fa.fa-caret-down.icon-on-right
                        ul.dropdown-menu.dropdown-default
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-primary.btn-white.dropdown-toggle(data-toggle='dropdown')
                          | Action
                          i.ace-icon.fa.fa-angle-down.icon-on-right
                        ul.dropdown-menu
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-sm.btn-danger.dropdown-toggle(data-toggle='dropdown')
                          | Danger
                          i.ace-icon.fa.fa-angle-down.icon-on-right
                        ul.dropdown-menu.dropdown-danger
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                    .space-4
                    .btn-toolbar
                      .btn-group
                        button.btn.btn-warning.dropdown-toggle(data-toggle='dropdown')
                          | Warning
                          span.ace-icon.fa.fa-caret-down.icon-on-right
                        ul.dropdown-menu.dropdown-warning
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-success.btn-lg.dropdown-toggle(data-toggle='dropdown')
                          | Success large
                          i.ace-icon.fa.fa-angle-down.icon-on-right
                        ul.dropdown-menu.dropdown-success.dropdown-menu-right
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                    .space-4
                    .btn-toolbar
                      .btn-group
                        button.btn.btn-info.btn-sm.dropdown-toggle(data-toggle='dropdown')
                          | Info small
                          span.ace-icon.fa.fa-caret-down.icon-on-right
                        ul.dropdown-menu.dropdown-info.dropdown-menu-right
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-inverse.btn-xs.dropdown-toggle(data-toggle='dropdown')
                          | Inverse mini
                          span.ace-icon.fa.fa-caret-down.icon-on-right
                        ul.dropdown-menu.dropdown-inverse
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                    hr
                    p
                    .btn-toolbar
                      .btn-group
                        button.btn Action
                        button.btn.dropdown-toggle(data-toggle='dropdown')
                          span.ace-icon.fa.fa-caret-down.icon-only
                        ul.dropdown-menu
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-sm.btn-yellow Some Action
                        button.btn.btn-sm.btn-yellow.dropdown-toggle(data-toggle='dropdown')
                          i.ace-icon.fa.fa-angle-down.icon-only
                        ul.dropdown-menu.dropdown-yellow
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group.dropup
                        button.btn.btn-xs.btn-danger Danger
                        button.btn.btn-xs.btn-danger.dropdown-toggle(data-toggle='dropdown')
                          span.ace-icon.fa.fa-caret-down.icon-only
                        ul.dropdown-menu.dropdown-danger
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                    .space-2
                    .btn-toolbar
                      .btn-group
                        button.btn.btn-lg.btn-warning Warning
                        button.btn.btn-lg.btn-warning.dropdown-toggle(data-toggle='dropdown')
                          span.ace-icon.fa.fa-caret-down.icon-only.smaller-90
                        ul.dropdown-menu.dropdown-warning
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-success Success
                        button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
                          span.ace-icon.fa.fa-caret-down.icon-only
                        ul.dropdown-menu.dropdown-success
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                      .btn-group
                        button.btn.btn-info.btn-white Info
                        button.btn.btn-info.btn-white.dropdown-toggle(data-toggle='dropdown')
                          span.ace-icon.fa.fa-caret-down.icon-only
                        ul.dropdown-menu.dropdown-info.dropdown-menu-right
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                    .space-2
                    .btn-toolbar
                      .btn-group
                        button.btn.btn-inverse Inverse
                        button.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown')
                          span.ace-icon.fa.fa-caret-down.icon-only
                        ul.dropdown-menu.dropdown-inverse
                          li
                            a(href='#') Action
                          li
                            a(href='#') Another action
                          li
                            a(href='#') Something else here
                          li.divider
                          li
                            a(href='#') Separated link
                      // /.btn-group
                  // /.span
                // /.row
                hr
                .row
                  .col-sm-6
                    h3.header.smaller.lighter.green Lables &amp; Badges
                    p
                      span.label Default
                      span.label.label-success.arrowed Success
                      span.label.label-warning
                        i.ace-icon.fa.fa-exclamation-triangle.bigger-120
                        | Warning
                      span.label.label-danger.arrowed-in Danger
                      span.label.label-info.arrowed-in-right.arrowed Info
                      span.label.label-inverse Inverse
                    p
                      span.label.label-white.middle Default
                      span.label.label-success.label-white.middle Success
                      span.label.label-warning.label-white.middle
                        i.ace-icon.fa.fa-exclamation-triangle.bigger-120
                        | Warning
                      span.label.label-danger.label-white.middle Danger
                      span.label.label-info.label-white.middle Info
                      span.label.label-purple.label-white.middle Inverse
                    p
                      span.badge 1
                      span.badge.badge-grey 1
                      span.badge.badge-success 2
                      span.badge.badge-warning 4
                      span.badge.badge-danger 6
                      span.badge.badge-info 8
                      span.badge.badge-purple 3
                      span.badge.badge-inverse 10
                      span.badge.badge-pink 11
                      span.badge.badge-yellow 2
                    p
                      span.label.label-lg.label-pink.arrowed-right Large
                      span.label.label-lg.label-yellow.arrowed-in.arrowed-in-right Yellow
                      span.label.label-lg.label-purple.arrowed Purple
                    p
                      span.label.label-xlg.label-primary.arrowed.arrowed-right Larger
                      span.label.label-xlg.label-grey.arrowed-in-right.arrowed-in Grey
                      span.label.label-xlg.label-light.arrowed-in-right Light
                    p
                      span.label.label-sm.label-primary.arrowed.arrowed-right Smaller
                  // /.span
                  .col-sm-6
                    h3.header.smaller.lighter.red Pagination
                    div
                      ul.pagination
                        li.disabled
                          a(href='#')
                            i.ace-icon.fa.fa-angle-double-left
                        li.active
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') 5
                        li
                          a(href='#')
                            i.ace-icon.fa.fa-angle-double-right
                    p
                    ul.pager
                      li.previous
                        a(href='#') &larr; Older
                      li.next
                        a(href='#') Newer &rarr;
                  // /.span
                // /.row
                hr
                .row
                  .col-xs-12
                    h3.header.smaller.lighter.blue
                      | 369 Scalable FontAwesome Icons
                      small
                        a(href='http://fontawesome.io/icons/', target='_blank')
                          | (see all icons
                          i.ace-icon.fa.fa-external-link
                          | )
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.fa.fa-adjust
                        | fa-adjust
                      li
                        i.ace-icon.fa.fa-asterisk
                        | fa-asterisk
                      li
                        i.ace-icon.fa.fa-ban
                        | fa-ban
                      li
                        i.ace-icon.fa.fa-bar-chart-o
                        | fa-bar-chart-o
                      li
                        i.ace-icon.fa.fa-barcode
                        | fa-barcode
                      li
                        i.ace-icon.fa.fa-flask
                        | fa-flask
                      li
                        i.ace-icon.fa.fa-beer
                        | fa-beer
                      li
                        i.ace-icon.fa.fa-bell-o
                        | fa-bell-o
                      li
                        i.ace-icon.fa.fa-bell
                        | fa-bell
                      li
                        i.ace-icon.fa.fa-bolt
                        | fa-bolt
                      li
                        i.ace-icon.fa.fa-book
                        | fa-book
                      li
                        i.ace-icon.fa.fa-bookmark
                        | fa-bookmark
                      li
                        i.ace-icon.fa.fa-bookmark-o
                        | fa-bookmark-o
                      li
                        i.ace-icon.fa.fa-briefcase
                        | fa-briefcase
                      li
                        i.ace-icon.fa.fa-bullhorn
                        | fa-bullhorn
                      li
                        i.ace-icon.fa.fa-calendar
                        | fa-calendar
                      li
                        i.ace-icon.fa.fa-camera
                        | fa-camera
                      li
                        i.ace-icon.fa.fa-camera-retro
                        | fa-camera-retro
                      li
                        i.ace-icon.fa.fa-certificate
                        | fa-certificate
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.fa.fa-check-square-o
                        | fa-check-square-o
                      li
                        i.ace-icon.fa.fa-square-o
                        | fa-square-o
                      li
                        i.ace-icon.fa.fa-circle
                        | fa-circle
                      li
                        i.ace-icon.fa.fa-circle-o
                        | fa-circle-o
                      li
                        i.ace-icon.fa.fa-cloud
                        | fa-cloud
                      li
                        i.ace-icon.fa.fa-cloud-download
                        | fa-cloud-download
                      li
                        i.ace-icon.fa.fa-cloud-upload
                        | fa-cloud-upload
                      li
                        i.ace-icon.fa.fa-coffee
                        | fa-coffee
                      li
                        i.ace-icon.fa.fa-cog
                        | fa-cog
                      li
                        i.ace-icon.fa.fa-cogs
                        | fa-cogs
                      li
                        i.ace-icon.fa.fa-comment
                        | fa-comment
                      li
                        i.ace-icon.fa.fa-comment-o
                        | fa-comment-o
                      li
                        i.ace-icon.fa.fa-comments
                        | fa-comments
                      li
                        i.ace-icon.fa.fa-comments-o
                        | fa-comments-o
                      li
                        i.ace-icon.fa.fa-credit-card
                        | fa-credit-card
                      li
                        i.ace-icon.fa.fa-tachometer
                        | fa-tachometer
                      li
                        i.ace-icon.fa.fa-desktop
                        | fa-desktop
                      li
                        i.ace-icon.fa.fa-arrow-circle-o-down
                        | fa-arrow-circle-o-down
                      li
                        i.ace-icon.fa.fa-download
                        | fa-download
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.fa.fa-pencil-square-o
                        | fa-pencil-square-o
                      li
                        i.ace-icon.fa.fa-envelope
                        | fa-envelope
                      li
                        i.ace-icon.fa.fa-envelope-o
                        | fa-envelope-o
                      li
                        i.ace-icon.fa.fa-exchange
                        | fa-exchange
                      li
                        i.ace-icon.fa.fa-exclamation-circle
                        | fa-exclamation-circle
                      li
                        i.ace-icon.fa.fa-external-link
                        | fa-external-link
                      li
                        i.ace-icon.fa.fa-eye-slash
                        | fa-eye-slash
                      li
                        i.ace-icon.fa.fa-eye
                        | fa-eye
                      li
                        i.ace-icon.fa.fa-video-camera
                        | fa-video-camera
                      li
                        i.ace-icon.fa.fa-fighter-jet
                        | fa-fighter-jet
                      li
                        i.ace-icon.fa.fa-film
                        | fa-film
                      li
                        i.ace-icon.fa.fa-filter
                        | fa-filter
                      li
                        i.ace-icon.fa.fa-fire
                        | fa-fire
                      li
                        i.ace-icon.fa.fa-flag
                        | fa-flag
                      li
                        i.ace-icon.fa.fa-folder
                        | fa-folder
                      li
                        i.ace-icon.fa.fa-folder-open
                        | fa-folder-open
                      li
                        i.ace-icon.fa.fa-folder-o
                        | fa-folder-o
                      li
                        i.ace-icon.fa.fa-folder-open-o
                        | fa-folder-open-o
                      li
                        i.ace-icon.fa.fa-cutlery
                        | fa-cutlery
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.fa.fa-gift
                        | fa-gift
                      li
                        i.ace-icon.fa.fa-glass
                        | fa-glass
                      li
                        i.ace-icon.fa.fa-globe
                        | fa-globe
                      li
                        i.ace-icon.fa.fa-users
                        | fa-users
                      li
                        i.ace-icon.fa.fa-hdd-o
                        | fa-hdd-o
                      li
                        i.ace-icon.fa.fa-headphones
                        | fa-headphones
                      li
                        i.ace-icon.fa.fa-heart
                        | fa-heart
                      li
                        i.ace-icon.fa.fa-heart-o
                        | fa-heart-o
                      li
                        i.ace-icon.fa.fa-home
                        | fa-home
                      li
                        i.ace-icon.fa.fa-inbox
                        | fa-inbox
                      li
                        i.ace-icon.fa.fa-info-circle
                        | fa-info-circle
                      li
                        i.ace-icon.fa.fa-key
                        | fa-key
                      li
                        i.ace-icon.fa.fa-leaf
                        | fa-leaf
                      li
                        i.ace-icon.fa.fa-laptop
                        | fa-laptop
                      li
                        i.ace-icon.fa.fa-gavel
                        | fa-gavel
                      li
                        i.ace-icon.fa.fa-lemon-o
                        | fa-lemon-o
                      li
                        i.ace-icon.fa.fa-lightbulb-o
                        | fa-lightbulb-o
                      li
                        i.ace-icon.fa.fa-lock
                        | fa-lock
                      li
                        i.ace-icon.fa.fa-unlock
                        | fa-unlock
                hr
                .row
                  .col-xs-12
                    h3.header.smaller.lighter.blue
                      | 200 Scalable Glyphicons
                      small
                        a(href='http://getbootstrap.com/components/#glyphicons', target='_blank')
                          | (see all icons
                          i.ace-icon.fa.fa-external-link
                          | )
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.glyphicon.glyphicon-asterisk
                        | glyphicon-asterisk
                      li
                        i.ace-icon.glyphicon.glyphicon-plus
                        | glyphicon-plus
                      li
                        i.ace-icon.glyphicon.glyphicon-euro
                        | glyphicon-euro
                      li
                        i.ace-icon.glyphicon.glyphicon-minus
                        | glyphicon-minus
                      li
                        i.ace-icon.glyphicon.glyphicon-cloud
                        | glyphicon-cloud
                      li
                        i.ace-icon.glyphicon.glyphicon-envelope
                        | glyphicon-envelope
                      li
                        i.ace-icon.glyphicon.glyphicon-pencil
                        | glyphicon-pencil
                      li
                        i.ace-icon.glyphicon.glyphicon-glass
                        | glyphicon-glass
                      li
                        i.ace-icon.glyphicon.glyphicon-music
                        | glyphicon-music
                      li
                        i.ace-icon.glyphicon.glyphicon-search
                        | glyphicon-search
                      li
                        i.ace-icon.glyphicon.glyphicon-heart
                        | glyphicon-heart
                      li
                        i.ace-icon.glyphicon.glyphicon-star
                        | glyphicon-star
                      li
                        i.ace-icon.glyphicon.glyphicon-star
                        | glyphicon-star-empty
                      li
                        i.ace-icon.glyphicon.glyphicon-user
                        | glyphicon-user
                      li
                        i.ace-icon.glyphicon.glyphicon-film
                        | glyphicon-film
                      li
                        i.ace-icon.glyphicon.glyphicon-th
                        | glyphicon-th-large
                      li
                        i.ace-icon.glyphicon.glyphicon-th
                        | glyphicon-th
                      li
                        i.ace-icon.glyphicon.glyphicon-th
                        | glyphicon-th-list
                      li
                        i.ace-icon.glyphicon.glyphicon-ok
                        | glyphicon-ok
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.glyphicon.glyphicon-remove
                        | glyphicon-remove
                      li
                        i.ace-icon.glyphicon.glyphicon-zoom-in
                        | glyphicon-zoom-in
                      li
                        i.ace-icon.glyphicon.glyphicon-zoom-out
                        | glyphicon-zoom-out
                      li
                        i.ace-icon.glyphicon.glyphicon-off
                        | glyphicon-off
                      li
                        i.ace-icon.glyphicon.glyphicon-signal
                        | glyphicon-signal
                      li
                        i.ace-icon.glyphicon.glyphicon-cog
                        | glyphicon-cog
                      li
                        i.ace-icon.glyphicon.glyphicon-trash
                        | glyphicon-trash
                      li
                        i.ace-icon.glyphicon.glyphicon-home
                        | glyphicon-home
                      li
                        i.ace-icon.glyphicon.glyphicon-file
                        | glyphicon-file
                      li
                        i.ace-icon.glyphicon.glyphicon-time
                        | glyphicon-time
                      li
                        i.ace-icon.glyphicon.glyphicon-road
                        | glyphicon-road
                      li
                        i.ace-icon.glyphicon.glyphicon-download
                        | glyphicon-download-alt
                      li
                        i.ace-icon.glyphicon.glyphicon-download
                        | glyphicon-download
                      li
                        i.ace-icon.glyphicon.glyphicon-upload
                        | glyphicon-upload
                      li
                        i.ace-icon.glyphicon.glyphicon-inbox
                        | glyphicon-inbox
                      li
                        i.ace-icon.glyphicon.glyphicon-play
                        | glyphicon-play-circle
                      li
                        i.ace-icon.glyphicon.glyphicon-repeat
                        | glyphicon-repeat
                      li
                        i.ace-icon.glyphicon.glyphicon-refresh
                        | glyphicon-refresh
                      li
                        i.ace-icon.glyphicon.glyphicon-list
                        | glyphicon-list-alt
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.glyphicon.glyphicon-lock
                        | glyphicon-lock
                      li
                        i.ace-icon.glyphicon.glyphicon-flag
                        | glyphicon-flag
                      li
                        i.ace-icon.glyphicon.glyphicon-headphones
                        | glyphicon-headphones
                      li
                        i.ace-icon.glyphicon.glyphicon-volume-off
                        | glyphicon-volume-off
                      li
                        i.ace-icon.glyphicon.glyphicon-volume-down
                        | glyphicon-volume-down
                      li
                        i.ace-icon.glyphicon.glyphicon-volume-up
                        | glyphicon-volume-up
                      li
                        i.ace-icon.glyphicon.glyphicon-qrcode
                        | glyphicon-qrcode
                      li
                        i.ace-icon.glyphicon.glyphicon-barcode
                        | glyphicon-barcode
                      li
                        i.ace-icon.glyphicon.glyphicon-tag
                        | glyphicon-tag
                      li
                        i.ace-icon.glyphicon.glyphicon-tags
                        | glyphicon-tags
                      li
                        i.ace-icon.glyphicon.glyphicon-book
                        | glyphicon-book
                      li
                        i.ace-icon.glyphicon.glyphicon-bookmark
                        | glyphicon-bookmark
                      li
                        i.ace-icon.glyphicon.glyphicon-print
                        | glyphicon-print
                      li
                        i.ace-icon.glyphicon.glyphicon-camera
                        | glyphicon-camera
                      li
                        i.ace-icon.glyphicon.glyphicon-font
                        | glyphicon-font
                      li
                        i.ace-icon.glyphicon.glyphicon-bold
                        | glyphicon-bold
                      li
                        i.ace-icon.glyphicon.glyphicon-italic
                        | glyphicon-italic
                      li
                        i.ace-icon.glyphicon.glyphicon-text-height
                        | glyphicon-text-height
                      li
                        i.ace-icon.glyphicon.glyphicon-text-width
                        | glyphicon-text-width
                  .col-xs-6.col-sm-3
                    ul.list-unstyled
                      li
                        i.ace-icon.glyphicon.glyphicon-align-left
                        | glyphicon-align-left
                      li
                        i.ace-icon.glyphicon.glyphicon-align-center
                        | glyphicon-align-center
                      li
                        i.ace-icon.glyphicon.glyphicon-align-right
                        | glyphicon-align-right
                      li
                        i.ace-icon.glyphicon.glyphicon-align-justify
                        | glyphicon-align-justify
                      li
                        i.ace-icon.glyphicon.glyphicon-list
                        | glyphicon-list
                      li
                        i.ace-icon.glyphicon.glyphicon-indent-left
                        | glyphicon-indent-left
                      li
                        i.ace-icon.glyphicon.glyphicon-indent-right
                        | glyphicon-indent-right
                      li
                        i.ace-icon.glyphicon.glyphicon-facetime-video
                        | glyphicon-facetime-video
                      li
                        i.ace-icon.glyphicon.glyphicon-picture
                        | glyphicon-picture
                      li
                        i.ace-icon.glyphicon.glyphicon-map-marker
                        | glyphicon-map-marker
                      li
                        i.ace-icon.glyphicon.glyphicon-adjust
                        | glyphicon-adjust
                      li
                        i.ace-icon.glyphicon.glyphicon-tint
                        | glyphicon-tint
                      li
                        i.ace-icon.glyphicon.glyphicon-edit
                        | glyphicon-edit
                      li
                        i.ace-icon.glyphicon.glyphicon-share
                        | glyphicon-share
                      li
                        i.ace-icon.glyphicon.glyphicon-check
                        | glyphicon-check
                      li
                        i.ace-icon.glyphicon.glyphicon-move
                        | glyphicon-move
                      li
                        i.ace-icon.glyphicon.glyphicon-step-backward
                        | glyphicon-step-backward
                      li
                        i.ace-icon.glyphicon.glyphicon-fast-backward
                        | glyphicon-fast-backward
                      li
                        i.ace-icon.glyphicon.glyphicon-backward
                        | glyphicon-backward
                // PAGE CONTENT ENDS
              // /.col
            // /.row
          // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
              | Application &copy; 2013-2014
            | &nbsp; &nbsp;
            span.action-buttons
              a(href='#')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-rss-square.orange.bigger-150
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    script(src='assets/js/jquery-2.1.4.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.11.3.min.js')
    script(type='text/javascript').
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    script(src='assets/js/bootstrap.min.js')
    // page specific plugin scripts
    // ace scripts
    script(src='assets/js/ace-elements.min.js')
    script(src='assets/js/ace.min.js')
    // inline scripts related to this page
    script(type='text/javascript').
      jQuery(function($) {
      $('#loading-btn').on(ace.click_event, function () {
      var btn = $(this);
      btn.button('loading')
      setTimeout(function () {
      btn.button('reset')
      }, 2000)
      });
      $('#id-button-borders').attr('checked' , 'checked').on('click', function(){
      $('#default-buttons .btn').toggleClass('no-border');
      });
      })
