doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Content sliders based on Bootstrap modals - Ace Admin
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/font-awesome/4.5.0/css/font-awesome.min.css')
    // page specific plugin styles
    // text fonts
    link(rel='stylesheet', href='assets/css/fonts.googleapis.com.css')
    // ace styles
    link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace.min.css')
    //if lte IE 9
      link.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace-part2.min.css')
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')
    link(rel='stylesheet', href='assets/css/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ace-ie.min.css')
    // inline styles related to this page
    // ace settings handler
    script(src='assets/js/ace-extra.min.js')
    // HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    //if lte IE 8
      script(src='assets/js/html5shiv.min.js')
      script(src='assets/js/respond.min.js')
  body.no-skin
    #navbar.navbar.navbar-default.ace-save-state
      #navbar-container.navbar-container.ace-save-state
        button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button', data-target='#sidebar')
          span.sr-only Toggle sidebar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-header.pull-left
          a.navbar-brand(href='index.html')
            small
              i.fa.fa-leaf
              | Ace Admin
        .navbar-buttons.navbar-header.pull-right(role='navigation')
          ul.nav.ace-nav
            li.grey.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-tasks
                span.badge.badge-grey 4
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-check
                  | 4 Tasks to complete
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Software Update
                          span.pull-right 65%
                        .progress.progress-mini
                          .progress-bar(style='width:65%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Hardware Upgrade
                          span.pull-right 35%
                        .progress.progress-mini
                          .progress-bar.progress-bar-danger(style='width:35%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Unit Testing
                          span.pull-right 15%
                        .progress.progress-mini
                          .progress-bar.progress-bar-warning(style='width:15%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Bug Fixes
                          span.pull-right 90%
                        .progress.progress-mini.progress-striped.active
                          .progress-bar.progress-bar-success(style='width:90%')
                li.dropdown-footer
                  a(href='#')
                    | See tasks with details
                    i.ace-icon.fa.fa-arrow-right
            li.purple.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
                span.badge.badge-important 8
              ul.dropdown-menu-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-exclamation-triangle
                  | 8 Notifications
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar.navbar-pink
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-pink.fa.fa-comment
                            | New Comments
                          span.pull-right.badge.badge-info +12
                    li
                      a(href='#')
                        i.btn.btn-xs.btn-primary.fa.fa-user
                        | Bob just signed up as an editor ...
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-success.fa.fa-shopping-cart
                            | New Orders
                          span.pull-right.badge.badge-success +8
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-info.fa.fa-twitter
                            | Followers
                          span.pull-right.badge.badge-info +11
                li.dropdown-footer
                  a(href='#')
                    | See all notifications
                    i.ace-icon.fa.fa-arrow-right
            li.green.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-envelope.icon-animated-vertical
                span.badge.badge-success 5
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-envelope-o
                  | 5 Messages
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar.png', alt="Alex's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Alex:
                            | Ciao sociis natoque penatibus et auctor ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span a moment ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Susan:
                            | Vestibulum id ligula porta felis euismod ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 20 minutes ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Bob:
                            | Nullam quis risus eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 3:15 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Kate:
                            | Ciao sociis natoque eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 1:33 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Fred:
                            | Vestibulum id penatibus et auctor  ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 10:09 am
                li.dropdown-footer
                  a(href='inbox.html')
                    | See all messages
                    i.ace-icon.fa.fa-arrow-right
            li.light-blue.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
                span.user-info
                  small Welcome,
                  | Jason
                i.ace-icon.fa.fa-caret-down
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    | Settings
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    | Profile
                li.divider
                li
                  a(href='#')
                    i.ace-icon.fa.fa-power-off
                    | Logout
      // /.navbar-container
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try{ace.settings.loadState('main-container')}catch(e){}
      #sidebar.sidebar.responsive.ace-save-state
        script(type='text/javascript').
          try{ace.settings.loadState('sidebar')}catch(e){}
        #sidebar-shortcuts.sidebar-shortcuts
          #sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-success
              i.ace-icon.fa.fa-signal
            button.btn.btn-info
              i.ace-icon.fa.fa-pencil
            button.btn.btn-warning
              i.ace-icon.fa.fa-users
            button.btn.btn-danger
              i.ace-icon.fa.fa-cogs
          #sidebar-shortcuts-mini.sidebar-shortcuts-mini
            span.btn.btn-success
            span.btn.btn-info
            span.btn.btn-warning
            span.btn.btn-danger
        // /.sidebar-shortcuts
        ul.nav.nav-list
          li
            a(href='index.html')
              i.menu-icon.fa.fa-tachometer
              span.menu-text  Dashboard 
            b.arrow
          li.active.open
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-desktop
              span.menu-text
                | UI &amp; Elements
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Layouts
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='top-menu.html')
                      i.menu-icon.fa.fa-caret-right
                      | Top Menu
                    b.arrow
                  li
                    a(href='two-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 1
                    b.arrow
                  li
                    a(href='two-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 2
                    b.arrow
                  li
                    a(href='mobile-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Default Mobile Menu
                    b.arrow
                  li
                    a(href='mobile-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 2
                    b.arrow
                  li
                    a(href='mobile-menu-3.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 3
                    b.arrow
              li
                a(href='typography.html')
                  i.menu-icon.fa.fa-caret-right
                  | Typography
                b.arrow
              li
                a(href='elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Elements
                b.arrow
              li
                a(href='buttons.html')
                  i.menu-icon.fa.fa-caret-right
                  | Buttons &amp; Icons
                b.arrow
              li.active
                a(href='content-slider.html')
                  i.menu-icon.fa.fa-caret-right
                  | Content Sliders
                b.arrow
              li
                a(href='treeview.html')
                  i.menu-icon.fa.fa-caret-right
                  | Treeview
                b.arrow
              li
                a(href='jquery-ui.html')
                  i.menu-icon.fa.fa-caret-right
                  | jQuery UI
                b.arrow
              li
                a(href='nestable-list.html')
                  i.menu-icon.fa.fa-caret-right
                  | Nestable Lists
                b.arrow
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Three Level Menu
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='#')
                      i.menu-icon.fa.fa-leaf.green
                      | Item #1
                    b.arrow
                  li
                    a.dropdown-toggle(href='#')
                      i.menu-icon.fa.fa-pencil.orange
                      | 4th level
                      b.arrow.fa.fa-angle-down
                    b.arrow
                    ul.submenu
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-plus.purple
                          | Add Product
                        b.arrow
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-eye.pink
                          | View Products
                        b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-list
              span.menu-text  Tables 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='tables.html')
                  i.menu-icon.fa.fa-caret-right
                  | Simple &amp; Dynamic
                b.arrow
              li
                a(href='jqgrid.html')
                  i.menu-icon.fa.fa-caret-right
                  | jqGrid plugin
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-pencil-square-o
              span.menu-text  Forms 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='form-elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements
                b.arrow
              li
                a(href='form-elements-2.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements 2
                b.arrow
              li
                a(href='form-wizard.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wizard &amp; Validation
                b.arrow
              li
                a(href='wysiwyg.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wysiwyg &amp; Markdown
                b.arrow
              li
                a(href='dropzone.html')
                  i.menu-icon.fa.fa-caret-right
                  | Dropzone File Upload
                b.arrow
          li
            a(href='widgets.html')
              i.menu-icon.fa.fa-list-alt
              span.menu-text  Widgets 
            b.arrow
          li
            a(href='calendar.html')
              i.menu-icon.fa.fa-calendar
              span.menu-text
                | Calendar
                span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                  i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
            b.arrow
          li
            a(href='gallery.html')
              i.menu-icon.fa.fa-picture-o
              span.menu-text  Gallery 
            b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-tag
              span.menu-text  More Pages 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='profile.html')
                  i.menu-icon.fa.fa-caret-right
                  | User Profile
                b.arrow
              li
                a(href='inbox.html')
                  i.menu-icon.fa.fa-caret-right
                  | Inbox
                b.arrow
              li
                a(href='pricing.html')
                  i.menu-icon.fa.fa-caret-right
                  | Pricing Tables
                b.arrow
              li
                a(href='invoice.html')
                  i.menu-icon.fa.fa-caret-right
                  | Invoice
                b.arrow
              li
                a(href='timeline.html')
                  i.menu-icon.fa.fa-caret-right
                  | Timeline
                b.arrow
              li
                a(href='search.html')
                  i.menu-icon.fa.fa-caret-right
                  | Search Results
                b.arrow
              li
                a(href='email.html')
                  i.menu-icon.fa.fa-caret-right
                  | Email Templates
                b.arrow
              li
                a(href='login.html')
                  i.menu-icon.fa.fa-caret-right
                  | Login &amp; Register
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-file-o
              span.menu-text
                | Other Pages
                span.badge.badge-primary 5
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='faq.html')
                  i.menu-icon.fa.fa-caret-right
                  | FAQ
                b.arrow
              li
                a(href='error-404.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 404
                b.arrow
              li
                a(href='error-500.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 500
                b.arrow
              li
                a(href='grid.html')
                  i.menu-icon.fa.fa-caret-right
                  | Grid
                b.arrow
              li
                a(href='blank.html')
                  i.menu-icon.fa.fa-caret-right
                  | Blank Page
                b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
      .main-content
        .main-content-inner
          #breadcrumbs.breadcrumbs.ace-save-state
            ul.breadcrumb
              li
                i.ace-icon.fa.fa-home.home-icon
                a(href='#') Home
              li
                a(href='#') UI &amp; Elements
              li.active Content Sliders
            // /.breadcrumb
            #nav-search.nav-search
              form.form-search
                span.input-icon
                  input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                  i.ace-icon.fa.fa-search.nav-search-icon
            // /.nav-search
          .page-content
            #ace-settings-container.ace-settings-container
              #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
                i.ace-icon.fa.fa-cog.bigger-130
              #ace-settings-box.ace-settings-box.clearfix
                .pull-left.width-50
                  .ace-settings-item
                    .pull-left
                      select#skin-colorpicker.hide
                        option(data-skin='no-skin', value='#438EB9') #438EB9
                        option(data-skin='skin-1', value='#222A2D') #222A2D
                        option(data-skin='skin-2', value='#C6487E') #C6487E
                        option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
                    span &nbsp; Choose Skin
                  .ace-settings-item
                    input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-navbar')  Fixed Navbar
                  .ace-settings-item
                    input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
                  .ace-settings-item
                    input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
                  .ace-settings-item
                    input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
                  .ace-settings-item
                    input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-add-container')
                      | Inside
                      b .container
                // /.pull-left
                .pull-left.width-50
                  .ace-settings-item
                    input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-hover')  Submenu on Hover
                  .ace-settings-item
                    input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-compact')  Compact Sidebar
                  .ace-settings-item
                    input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-highlight')  Alt. Active Item
                // /.pull-left
              // /.ace-settings-box
            // /.ace-settings-container
            .page-header
              h1
                | Content sliders based on Bootstrap modals
            // /.page-header
            .row
              .col-xs-12
                // PAGE CONTENT BEGINS
                .alert.alert-info
                  button.close(data-dismiss='alert')
                    i.ace-icon.fa.fa-times
                  | You can use any button to toggle sliders!
                #top-menu.modal.aside(data-fixed='true', data-placement='top', data-background='true', data-backdrop='invisible', tabindex='-1')
                  .modal-dialog
                    .modal-content
                      .modal-body.container
                        .row
                          .col-sm-5.col-sm-offset-1.white
                            h3.lighter Bootstrap Grid &amp; Elements
                            | With invisible backdrop
                          .col-sm-5.text-center.line-height-2
                            a.btn.btn-app.btn-Default.no-radius(href='#')
                              i.ace-icon.fa.fa-pencil-square-o.bigger-230
                              | Default
                              span.label.label-light.arrowed-in-right.badge-left 11
                            | &nbsp; &nbsp;
                            a.btn.btn-info.btn-app.no-radius(href='#')
                              i.ace-icon.fa.fa-cog.bigger-230
                              | Mailbox
                              span.label.label-danger.arrowed-in 6+
                            | &nbsp; &nbsp;
                            a.btn.btn-app.btn-light.no-radius(href='#')
                              i.ace-icon.fa.fa-print.bigger-230
                              | Print
                    // /.modal-content
                    button.btn.btn-inverse.btn-app.btn-xs.ace-settings-btn.aside-trigger(data-target='#top-menu', data-toggle='modal', type='button')
                      i.ace-icon.fa.fa-chevron-down.bigger-110.icon-only(data-icon1='fa-chevron-down', data-icon2='fa-chevron-up')
                  // /.modal-dialog
                #bottom-menu.modal.aside(data-fixed='true', data-placement='bottom', data-background='true', tabindex='-1')
                  .modal-dialog
                    .modal-content
                      .modal-body.container
                        .row
                          .col-sm-5.col-sm-offset-1.white
                            h3.lighter Bootstrap Grid &amp; Elements
                            | With dark modal backdrop
                    // /.modal-content
                    button.btn.btn-yellow.btn-app.btn-xs.ace-settings-btn.aside-trigger(data-target='#bottom-menu', data-toggle='modal', type='button')
                      i.ace-icon.fa.fa-chevron-up.bigger-110.icon-only(data-icon2='fa-chevron-down', data-icon1='fa-chevron-up')
                  // /.modal-dialog
                #right-menu.modal.aside(data-body-scroll='false', data-offset='true', data-placement='right', data-fixed='true', data-backdrop='false', tabindex='-1')
                  .modal-dialog
                    .modal-content
                      .modal-header.no-padding
                        .table-header
                          button.close(type='button', data-dismiss='modal', aria-hidden='true')
                            span.white &times;
                          | Based on Modal boxes
                      .modal-body
                        h3.lighter Custom Elements and Content
                        br
                        | With no modal backdrop
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        | 1
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        | 2
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        | 3
                    // /.modal-content
                    button.aside-trigger.btn.btn-info.btn-app.btn-xs.ace-settings-btn(data-target='#right-menu', data-toggle='modal', type='button')
                      i.ace-icon.fa.fa-plus.bigger-110.icon-only(data-icon1='fa-plus', data-icon2='fa-minus')
                  // /.modal-dialog
                a.bigger-125.bg-primary.white(href='#my-modal', role='button', data-toggle='modal')
                  | Content Slider inside Modal Box
                #my-modal.modal.fade(tabindex='-1')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h3.smaller.lighter.blue.no-margin A modal with a slider in it!
                      .modal-body
                        | Some content
                        br
                        br
                        br
                        br
                        br
                        | 1
                        br
                        br
                        br
                        br
                        br
                        | 2
                      .modal-footer
                        button.btn.btn-sm.btn-danger.pull-right(data-dismiss='modal')
                          i.ace-icon.fa.fa-times
                          | Close
                    // /.modal-content
                  // /.modal-dialog
                #aside-inside-modal.modal(data-placement='bottom', data-background='true', data-backdrop='false', tabindex='-1')
                  .modal-dialog
                    .modal-content
                      .modal-body
                        .row
                          .col-xs-12.white
                            h3.lighter.no-margin Inside another modal
                            br
                            br
                    // /.modal-content
                    button.btn.btn-default.btn-app.btn-xs.ace-settings-btn.aside-trigger(data-target='#aside-inside-modal', data-toggle='modal', type='button')
                      i.ace-icon.fa.fa-arrow-up.bigger-110.icon-only(data-icon2='fa-arrow-down', data-icon1='fa-arrow-up')
                  // /.modal-dialog
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                // PAGE CONTENT ENDS
              // /.col
            // /.row
          // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
              | Application &copy; 2013-2014
            | &nbsp; &nbsp;
            span.action-buttons
              a(href='#')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-rss-square.orange.bigger-150
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    script(src='assets/js/jquery-2.1.4.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.11.3.min.js')
    script(type='text/javascript').
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    script(src='assets/js/bootstrap.min.js')
    // page specific plugin scripts
    // ace scripts
    script(src='assets/js/ace-elements.min.js')
    script(src='assets/js/ace.min.js')
    // inline scripts related to this page
    script(type='text/javascript').
      jQuery(function($) {
      $('.modal.aside').ace_aside();
      $('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});
      //$('#top-menu').modal('show')
      $(document).one('ajaxloadstart.page', function(e) {
      //in ajax mode, remove before leaving page
      $('.modal.aside').remove();
      $(window).off('.aside')
      });
      //make content sliders resizable using jQuery UI (you should include jquery ui files)
      //$('#right-menu > .modal-dialog').resizable({handles: "w", grid: [ 20, 0 ], minWidth: 200, maxWidth: 600});
      })
