doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title UI Elements - Ace Admin
    meta(name='description', content='Common UI Features & Elements')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/font-awesome/4.5.0/css/font-awesome.min.css')
    // page specific plugin styles
    link(rel='stylesheet', href='assets/css/jquery-ui.custom.min.css')
    link(rel='stylesheet', href='assets/css/jquery.gritter.min.css')
    // text fonts
    link(rel='stylesheet', href='assets/css/fonts.googleapis.com.css')
    // ace styles
    link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace.min.css')
    //if lte IE 9
      link.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace-part2.min.css')
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')
    link(rel='stylesheet', href='assets/css/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ace-ie.min.css')
    // inline styles related to this page
    style.
      /* some elements used in demo only */
      .spinner-preview {
      width: 100px;
      height: 100px;
      text-align: center;
      margin-top: 60px;
      }
      .dropdown-preview {
      margin: 0 5px;
      display: inline-block;
      }
      .dropdown-preview  > .dropdown-menu {
      display: block;
      position: static;
      margin-bottom: 5px;
      }
    // ace settings handler
    script(src='assets/js/ace-extra.min.js')
    // HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    //if lte IE 8
      script(src='assets/js/html5shiv.min.js')
      script(src='assets/js/respond.min.js')
  body.no-skin
    #navbar.navbar.navbar-default.ace-save-state
      #navbar-container.navbar-container.ace-save-state
        button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button', data-target='#sidebar')
          span.sr-only Toggle sidebar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-header.pull-left
          a.navbar-brand(href='index.html')
            small
              i.fa.fa-leaf
              | Ace Admin
        .navbar-buttons.navbar-header.pull-right(role='navigation')
          ul.nav.ace-nav
            li.grey.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-tasks
                span.badge.badge-grey 4
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-check
                  | 4 Tasks to complete
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Software Update
                          span.pull-right 65%
                        .progress.progress-mini
                          .progress-bar(style='width:65%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Hardware Upgrade
                          span.pull-right 35%
                        .progress.progress-mini
                          .progress-bar.progress-bar-danger(style='width:35%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Unit Testing
                          span.pull-right 15%
                        .progress.progress-mini
                          .progress-bar.progress-bar-warning(style='width:15%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Bug Fixes
                          span.pull-right 90%
                        .progress.progress-mini.progress-striped.active
                          .progress-bar.progress-bar-success(style='width:90%')
                li.dropdown-footer
                  a(href='#')
                    | See tasks with details
                    i.ace-icon.fa.fa-arrow-right
            li.purple.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
                span.badge.badge-important 8
              ul.dropdown-menu-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-exclamation-triangle
                  | 8 Notifications
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar.navbar-pink
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-pink.fa.fa-comment
                            | New Comments
                          span.pull-right.badge.badge-info +12
                    li
                      a(href='#')
                        i.btn.btn-xs.btn-primary.fa.fa-user
                        | Bob just signed up as an editor ...
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-success.fa.fa-shopping-cart
                            | New Orders
                          span.pull-right.badge.badge-success +8
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-info.fa.fa-twitter
                            | Followers
                          span.pull-right.badge.badge-info +11
                li.dropdown-footer
                  a(href='#')
                    | See all notifications
                    i.ace-icon.fa.fa-arrow-right
            li.green.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-envelope.icon-animated-vertical
                span.badge.badge-success 5
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-envelope-o
                  | 5 Messages
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar.png', alt="Alex's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Alex:
                            | Ciao sociis natoque penatibus et auctor ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span a moment ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Susan:
                            | Vestibulum id ligula porta felis euismod ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 20 minutes ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Bob:
                            | Nullam quis risus eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 3:15 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Kate:
                            | Ciao sociis natoque eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 1:33 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Fred:
                            | Vestibulum id penatibus et auctor  ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 10:09 am
                li.dropdown-footer
                  a(href='inbox.html')
                    | See all messages
                    i.ace-icon.fa.fa-arrow-right
            li.light-blue.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
                span.user-info
                  small Welcome,
                  | Jason
                i.ace-icon.fa.fa-caret-down
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    | Settings
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    | Profile
                li.divider
                li
                  a(href='#')
                    i.ace-icon.fa.fa-power-off
                    | Logout
      // /.navbar-container
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try{ace.settings.loadState('main-container')}catch(e){}
      #sidebar.sidebar.responsive.ace-save-state
        script(type='text/javascript').
          try{ace.settings.loadState('sidebar')}catch(e){}
        #sidebar-shortcuts.sidebar-shortcuts
          #sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-success
              i.ace-icon.fa.fa-signal
            button.btn.btn-info
              i.ace-icon.fa.fa-pencil
            button.btn.btn-warning
              i.ace-icon.fa.fa-users
            button.btn.btn-danger
              i.ace-icon.fa.fa-cogs
          #sidebar-shortcuts-mini.sidebar-shortcuts-mini
            span.btn.btn-success
            span.btn.btn-info
            span.btn.btn-warning
            span.btn.btn-danger
        // /.sidebar-shortcuts
        ul.nav.nav-list
          li
            a(href='index.html')
              i.menu-icon.fa.fa-tachometer
              span.menu-text  Dashboard 
            b.arrow
          li.active.open
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-desktop
              span.menu-text
                | UI &amp; Elements
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Layouts
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='top-menu.html')
                      i.menu-icon.fa.fa-caret-right
                      | Top Menu
                    b.arrow
                  li
                    a(href='two-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 1
                    b.arrow
                  li
                    a(href='two-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 2
                    b.arrow
                  li
                    a(href='mobile-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Default Mobile Menu
                    b.arrow
                  li
                    a(href='mobile-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 2
                    b.arrow
                  li
                    a(href='mobile-menu-3.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 3
                    b.arrow
              li
                a(href='typography.html')
                  i.menu-icon.fa.fa-caret-right
                  | Typography
                b.arrow
              li.active
                a(href='elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Elements
                b.arrow
              li
                a(href='buttons.html')
                  i.menu-icon.fa.fa-caret-right
                  | Buttons &amp; Icons
                b.arrow
              li
                a(href='content-slider.html')
                  i.menu-icon.fa.fa-caret-right
                  | Content Sliders
                b.arrow
              li
                a(href='treeview.html')
                  i.menu-icon.fa.fa-caret-right
                  | Treeview
                b.arrow
              li
                a(href='jquery-ui.html')
                  i.menu-icon.fa.fa-caret-right
                  | jQuery UI
                b.arrow
              li
                a(href='nestable-list.html')
                  i.menu-icon.fa.fa-caret-right
                  | Nestable Lists
                b.arrow
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Three Level Menu
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='#')
                      i.menu-icon.fa.fa-leaf.green
                      | Item #1
                    b.arrow
                  li
                    a.dropdown-toggle(href='#')
                      i.menu-icon.fa.fa-pencil.orange
                      | 4th level
                      b.arrow.fa.fa-angle-down
                    b.arrow
                    ul.submenu
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-plus.purple
                          | Add Product
                        b.arrow
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-eye.pink
                          | View Products
                        b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-list
              span.menu-text  Tables 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='tables.html')
                  i.menu-icon.fa.fa-caret-right
                  | Simple &amp; Dynamic
                b.arrow
              li
                a(href='jqgrid.html')
                  i.menu-icon.fa.fa-caret-right
                  | jqGrid plugin
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-pencil-square-o
              span.menu-text  Forms 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='form-elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements
                b.arrow
              li
                a(href='form-elements-2.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements 2
                b.arrow
              li
                a(href='form-wizard.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wizard &amp; Validation
                b.arrow
              li
                a(href='wysiwyg.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wysiwyg &amp; Markdown
                b.arrow
              li
                a(href='dropzone.html')
                  i.menu-icon.fa.fa-caret-right
                  | Dropzone File Upload
                b.arrow
          li
            a(href='widgets.html')
              i.menu-icon.fa.fa-list-alt
              span.menu-text  Widgets 
            b.arrow
          li
            a(href='calendar.html')
              i.menu-icon.fa.fa-calendar
              span.menu-text
                | Calendar
                span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                  i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
            b.arrow
          li
            a(href='gallery.html')
              i.menu-icon.fa.fa-picture-o
              span.menu-text  Gallery 
            b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-tag
              span.menu-text  More Pages 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='profile.html')
                  i.menu-icon.fa.fa-caret-right
                  | User Profile
                b.arrow
              li
                a(href='inbox.html')
                  i.menu-icon.fa.fa-caret-right
                  | Inbox
                b.arrow
              li
                a(href='pricing.html')
                  i.menu-icon.fa.fa-caret-right
                  | Pricing Tables
                b.arrow
              li
                a(href='invoice.html')
                  i.menu-icon.fa.fa-caret-right
                  | Invoice
                b.arrow
              li
                a(href='timeline.html')
                  i.menu-icon.fa.fa-caret-right
                  | Timeline
                b.arrow
              li
                a(href='search.html')
                  i.menu-icon.fa.fa-caret-right
                  | Search Results
                b.arrow
              li
                a(href='email.html')
                  i.menu-icon.fa.fa-caret-right
                  | Email Templates
                b.arrow
              li
                a(href='login.html')
                  i.menu-icon.fa.fa-caret-right
                  | Login &amp; Register
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-file-o
              span.menu-text
                | Other Pages
                span.badge.badge-primary 5
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='faq.html')
                  i.menu-icon.fa.fa-caret-right
                  | FAQ
                b.arrow
              li
                a(href='error-404.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 404
                b.arrow
              li
                a(href='error-500.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 500
                b.arrow
              li
                a(href='grid.html')
                  i.menu-icon.fa.fa-caret-right
                  | Grid
                b.arrow
              li
                a(href='blank.html')
                  i.menu-icon.fa.fa-caret-right
                  | Blank Page
                b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
      .main-content
        .main-content-inner
          #breadcrumbs.breadcrumbs.ace-save-state
            ul.breadcrumb
              li
                i.ace-icon.fa.fa-home.home-icon
                a(href='#') Home
              li
                a(href='#') UI &amp; Elements
              li.active Elements
            // /.breadcrumb
            #nav-search.nav-search
              form.form-search
                span.input-icon
                  input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                  i.ace-icon.fa.fa-search.nav-search-icon
            // /.nav-search
          .page-content
            #ace-settings-container.ace-settings-container
              #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
                i.ace-icon.fa.fa-cog.bigger-130
              #ace-settings-box.ace-settings-box.clearfix
                .pull-left.width-50
                  .ace-settings-item
                    .pull-left
                      select#skin-colorpicker.hide
                        option(data-skin='no-skin', value='#438EB9') #438EB9
                        option(data-skin='skin-1', value='#222A2D') #222A2D
                        option(data-skin='skin-2', value='#C6487E') #C6487E
                        option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
                    span &nbsp; Choose Skin
                  .ace-settings-item
                    input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-navbar')  Fixed Navbar
                  .ace-settings-item
                    input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
                  .ace-settings-item
                    input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
                  .ace-settings-item
                    input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
                  .ace-settings-item
                    input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-add-container')
                      | Inside
                      b .container
                // /.pull-left
                .pull-left.width-50
                  .ace-settings-item
                    input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-hover')  Submenu on Hover
                  .ace-settings-item
                    input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-compact')  Compact Sidebar
                  .ace-settings-item
                    input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-highlight')  Alt. Active Item
                // /.pull-left
              // /.ace-settings-box
            // /.ace-settings-container
            .page-header
              h1
                | UI Elements
                small
                  i.ace-icon.fa.fa-angle-double-right
                  | Common UI Features &amp; Elements
            // /.page-header
            .row
              .col-xs-12
                // PAGE CONTENT BEGINS
                .row
                  .col-sm-6
                    .tabbable
                      ul#myTab.nav.nav-tabs
                        li.active
                          a(data-toggle='tab', href='#home')
                            i.green.ace-icon.fa.fa-home.bigger-120
                            | Home
                        li
                          a(data-toggle='tab', href='#messages')
                            | Messages
                            span.badge.badge-danger 4
                        li.dropdown
                          a.dropdown-toggle(data-toggle='dropdown', href='#')
                            | Dropdown &nbsp;
                            i.ace-icon.fa.fa-caret-down.bigger-110.width-auto
                          ul.dropdown-menu.dropdown-info
                            li
                              a(data-toggle='tab', href='#dropdown1') @fat
                            li
                              a(data-toggle='tab', href='#dropdown2') @mdo
                      .tab-content
                        #home.tab-pane.fade.in.active
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                        #messages.tab-pane.fade
                          p
                            | Food truck fixie locavore, accusamus mcsweeney&apos;s marfa nulla single-origin coffee squid.
                        #dropdown1.tab-pane.fade
                          p
                            | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney&apos;s organic lomo retro fanny pack lo-fi farm-to-table readymade.
                        #dropdown2.tab-pane.fade
                          p
                            | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                  // /.col
                  .vspace-6-sm
                  .col-sm-6
                    .tabbable.tabs-below
                      .tab-content
                        #home2.tab-pane.in.active
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                        #profile2.tab-pane
                          p
                            | Food truck fixie locavore, accusamus mcsweeney&apos;s marfa nulla single-origin coffee squid.
                        #dropdown12.tab-pane
                          p
                            | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney&apos;s organic lomo retro fanny pack lo-fi farm-to-table readymade.
                      ul#myTab2.nav.nav-tabs
                        li.active
                          a(data-toggle='tab', href='#home2') Home
                        li
                          a(data-toggle='tab', href='#profile2') Profile
                        li
                          a(data-toggle='tab', href='#dropdown12') More
                // /.row
                .space
                .row
                  .col-sm-6
                    .tabbable.tabs-left
                      ul#myTab3.nav.nav-tabs
                        li.active
                          a(data-toggle='tab', href='#home3')
                            i.pink.ace-icon.fa.fa-tachometer.bigger-110
                            | Home
                        li
                          a(data-toggle='tab', href='#profile3')
                            i.blue.ace-icon.fa.fa-user.bigger-110
                            | Profile
                        li
                          a(data-toggle='tab', href='#dropdown13')
                            i.ace-icon.fa.fa-rocket
                            | More
                      .tab-content
                        #home3.tab-pane.in.active
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                        #profile3.tab-pane
                          p
                            | Food truck fixie locavore, accusamus mcsweeney&apos;s marfa nulla single-origin coffee squid.
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                        #dropdown13.tab-pane
                          p
                            | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney&apos;s organic lomo retro fanny pack lo-fi farm-to-table readymade.
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                  // /.col
                  .vspace-6-sm
                  .col-sm-6
                    .tabbable
                      ul#myTab4.nav.nav-tabs.padding-12.tab-color-blue.background-blue
                        li.active
                          a(data-toggle='tab', href='#home4') Home
                        li
                          a(data-toggle='tab', href='#profile4') Profile
                        li
                          a(data-toggle='tab', href='#dropdown14') More
                      .tab-content
                        #home4.tab-pane.in.active
                          p Raw denim you probably haven&apos;t heard of them jean shorts Austin.
                        #profile4.tab-pane
                          p
                            | Food truck fixie locavore, accusamus mcsweeney&apos;s marfa nulla single-origin coffee squid.
                        #dropdown14.tab-pane
                          p
                            | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney&apos;s organic lomo retro fanny pack lo-fi farm-to-table readymade.
                  // /.col
                // /.row
                .hr.hr-double.hr-dotted.hr18
                .row
                  .col-sm-6
                    h3.row.header.smaller.lighter.blue
                      span.col-xs-6  Accordion 
                      // /.col
                      span.col-xs-6
                        span.pull-right.inline
                          span.grey.smaller-80.bolder style:
                          span.btn-toolbar.inline.middle.no-margin
                            span#accordion-style.btn-group.no-margin(data-toggle='buttons')
                              label.btn.btn-xs.btn-yellow.active
                                input(type='radio', value='1')
                                | 1
                              label.btn.btn-xs.btn-yellow
                                input(type='radio', value='2')
                                | 2
                      // /.col
                    #accordion.accordion-style1.panel-group
                      .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                              i.ace-icon.fa.fa-angle-down.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                              | &nbsp;Group Item #1
                        #collapseOne.panel-collapse.collapse.in
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                              i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                              | &nbsp;Group Item #2
                        #collapseTwo.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                              i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                              | &nbsp;Group Item #3
                        #collapseThree.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                  // /.col
                  .col-sm-6
                    h3.header.smaller.lighter.green Progress Bar
                    .row
                      .col-xs-8
                        .progress.pos-rel(data-percent='66%')
                          .progress-bar(style='width:66%;')
                        .progress.progress-striped.pos-rel
                          .progress-bar.progress-bar-success(style='width: 25%;')
                        .progress.progress-small.progress-striped.active
                          .progress-bar.progress-bar-warning(style='width: 40%;')
                        .progress.progress-mini
                          .progress-bar.progress-danger(style='width: 35%;')
                        .progress
                          .progress-bar.progress-bar-success(style='width: 35%;')
                          .progress-bar.progress-bar-warning(style='width: 20%;')
                          .progress-bar.progress-bar-danger(style='width: 10%;')
                        .progress.progress-striped
                          .progress-bar.progress-bar-purple(style='width: 65%')
                        .progress.progress-striped
                          .progress-bar.progress-bar-pink(style='width: 40%')
                        .progress.progress-striped.active
                          .progress-bar.progress-bar-yellow(style='width: 60%')
                        .progress.progress-striped
                          .progress-bar.progress-bar-inverse(style='width: 80%')
                      // /.col
                      .col-xs-4.center
                        .easy-pie-chart.percentage(data-percent='20', data-color='#D15B47')
                          span.percent 20
                          | %
                        hr
                        .easy-pie-chart.percentage(data-percent='55', data-color='#87CEEB')
                          span.percent 55
                          | %
                        hr
                        .easy-pie-chart.percentage(data-percent='90', data-color='#87B87F')
                          span.percent 90
                          | %
                      // /.col
                    // /.row
                  // /.col
                // /.row
                hr
                .row
                  .col-sm-6
                    .widget-box
                      .widget-header
                        h4.smaller
                          | Tooltips
                          small different directions and colors
                      .widget-body
                        .widget-main
                          p.muted
                            | Tight pants next level keffiyeh
                            a(title='Default tooltip', data-rel='tooltip', href='#') you probably
                            | haven&apos;t heard of them. Farm-to-table seitan, mcsweeney&apos;s fixie sustainable quinoa 8-bit american apparel
                            a(title='Another tooltip', data-rel='tooltip', href='#') have a
                            | terry richardson vinyl chambray. A really ironic artisan
                            a(data-rel='tooltip', href='#', data-original-title='Another one here too') whatever
                            | keytar, scenester farm-to-table banksy Austin
                            a(title='The last tip!', data-rel='tooltip', href='#') twitter
                            | handle.
                          hr
                          p
                            span.btn.btn-sm(data-rel='tooltip', title='Default') Default
                            span.btn.btn-warning.btn-sm.tooltip-warning(data-rel='tooltip', data-placement='left', title='Left Warning') Left
                            span.btn.btn-success.btn-sm.tooltip-success(data-rel='tooltip', data-placement='right', title='Right Success') Right
                            span.btn.btn-danger.btn-sm.tooltip-error(data-rel='tooltip', data-placement='top', title='Top Danger') Top
                            span.btn.btn-info.btn-sm.tooltip-info(data-rel='tooltip', data-placement='bottom', title='Bottm Info') Bottom
                  // /.col
                  .col-sm-6
                    .widget-box
                      .widget-header
                        h4.smaller Popovers
                      .widget-body
                        .widget-main
                          p
                            span.btn.btn-sm(data-rel='popover', title='Default', data-content="Heads up! This alert needs your attention, but it's not super important.") Default
                            span.btn.btn-success.btn-sm.popover-success(data-rel='popover', data-placement='right', title="<i class='ace-icon fa fa-check green'></i> Right Success", data-content='Well done! You successfully read this important alert message.') Right
                            span.btn.btn-warning.btn-sm.popover-warning(data-rel='popover', data-placement='left', title="<i class='ace-icon fa fa-exclamation-triangle orange'></i> Left Warning", data-content="Warning! Best check yo self, you're not looking too good.") Left
                          p
                            span.btn.btn-danger.btn-sm.popover-error(data-rel='popover', data-placement='top', data-original-title="<i class='ace-icon fa fa-bolt red'></i> Top Danger", data-content='Oh snap! Change a few things up and try submitting again.') Top
                            span.btn.btn-info.btn-sm.popover-info(data-rel='popover', data-placement='bottom', title='Some Info', data-content="Heads up! This alert needs your attention, but it's not super important.") Bottom
                            span.btn.btn-inverse.btn-sm.popover-notitle(data-rel='popover', data-placement='bottom', data-content='Popover without a title!') No Title
                  // /.col
                // /.row
                hr
                .row
                  .col-sm-6
                    h3.header.smaller.lighter.green
                      i.ace-icon.fa.fa-bullhorn
                      | Alerts
                    .alert.alert-danger
                      button.close(type='button', data-dismiss='alert')
                        i.ace-icon.fa.fa-times
                      strong
                        i.ace-icon.fa.fa-times
                        | Oh snap!
                      | Change a few things up and try submitting again.
                      br
                    .alert.alert-warning
                      button.close(type='button', data-dismiss='alert')
                        i.ace-icon.fa.fa-times
                      strong Warning!
                      | Best check yo self, you&apos;re not looking too good.
                      br
                    .alert.alert-block.alert-success
                      button.close(type='button', data-dismiss='alert')
                        i.ace-icon.fa.fa-times
                      p
                        strong
                          i.ace-icon.fa.fa-check
                          | Well done!
                        | You successfully read this important alert message.
                      p
                        button.btn.btn-sm.btn-success Do This
                        button.btn.btn-sm Or This One
                    .alert.alert-info
                      button.close(type='button', data-dismiss='alert')
                        i.ace-icon.fa.fa-times
                      strong Heads up!
                      | This alert needs your attention, but it&apos;s not super important.
                      br
                  // /.col
                  .col-sm-6
                    h3.row.header.smaller.lighter.orange
                      span.col-sm-8
                        i.ace-icon.fa.fa-bell
                        | Gritter Notifications
                      // /.col
                      span.col-sm-4
                        label.pull-right.inline
                          small.muted Dark:
                          input#gritter-light.ace.ace-switch.ace-switch-5(checked='', type='checkbox')
                          span.lbl.middle
                      // /.col
                    p
                      i Click to see
                    p
                      button#gritter-regular.btn Regular
                      button#gritter-sticky.btn.btn-info Sticky
                      button#gritter-without-image.btn.btn-success Without Image
                    p
                      button#gritter-error.btn.btn-danger Error
                      button#gritter-max3.btn.btn-warning Max 3
                      button#gritter-center.btn.btn-primary Center
                      button#gritter-remove.btn.btn-inverse Remove
                  // /.col
                // /.row
                hr
                .row
                  .col-sm-6
                    div
                      h3.header.smaller.lighter.purple
                        | Bootstrap Modals
                        small (Bootbox.js)
                      p
                        button#bootbox-regular.btn Regular Dialog
                        button#bootbox-confirm.btn.btn-info Confirm
                        button#bootbox-options.btn.btn-success More Options
                    // /.row
                    .space-24
                    .row
                      .col-xs-12
                        h3.header.smaller.lighter.grey
                          i.ace-icon.fa.fa-spinner.fa-spin.orange.bigger-125
                          | Imageless Spinner
                          small (spin.js)
                      .col-xs-12
                        i Change a value to begin
                        #spinner-preview.pull-right.center.spinner-preview
                        form#spinner-opts.form-horizontal
                          label.inline
                            small.lighter Lines:
                            input.hidden(type='text', name='lines', data-min='5', data-max='16', data-step='2', value='12')
                          .space-0
                          label.inline
                            small.lighter Length:
                            input.hidden(type='text', name='length', data-min='0', data-max='30', value='7')
                          .space-0
                          label.inline
                            small.lighter Width:
                            input.hidden(type='text', name='width', data-min='2', data-max='20', value='4')
                          .space-0
                          label.inline
                            small.lighter Radius:
                            input.hidden(type='text', name='radius', data-min='0', data-max='40', value='10')
                          .space-0
                          label.inline
                            small.lighter Corners:
                            input.hidden(type='text', name='corners', data-min='0', data-max='1', data-step='0.1', value='1')
                          .space-0
                          label.inline
                            small.lighter Rotate:
                            input.hidden(type='text', name='rotate', data-min='0', data-max='90', value='0')
                          .space-0
                          label.inline
                            small.lighter Trail:
                            input.hidden(type='text', name='trail', data-min='10', data-max='100', value='60')
                          .space-0
                          label.inline
                            small.lighter Speed:
                            input.hidden(type='text', name='speed', data-min='0.5', data-max='2.2', data-step='0.1', value='1')
                      // /.row
                    // /.row
                  // /.col
                  .col-sm-6
                    h3.header.smaller.lighter.red Bootstrap Wells
                    .well
                      h4.green.smaller.lighter Normal Well
                      | Use the well as a simple effect on an element to give it an inset effect.
                    .well.well-lg
                      h4.blue Large Well
                      | Control padding and rounded corners with two optional modifier classes.
                    .well.well-sm  This is a small well 
                  // /.col
                // /.row
                .row
                  .col-sm-6
                    h3.header.smaller.lighter.green Dropdowns
                    .dropdown.dropdown-preview
                      ul.dropdown-menu
                        li
                          a(href='#', tabindex='-1') Action
                        li
                          a(href='#', tabindex='-1') Another action
                        li
                          a(href='#', tabindex='-1') Something else here
                        li.divider
                        li
                          a(href='#', tabindex='-1') Separated link
                    .dropdown.dropdown-preview
                      ul.dropdown-menu.dropdown-danger
                        li
                          a(href='#', tabindex='-1') Action
                        li
                          a(href='#', tabindex='-1') Another action
                        li
                          a(href='#', tabindex='-1') Something else here
                        li.divider
                        li.dropdown-hover
                          a.clearfix(href='#', tabindex='-1')
                            span.pull-left More options
                            i.ace-icon.fa.fa-caret-right.pull-right
                          ul.dropdown-menu.dropdown-danger
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                    .dropup.dropdown-preview
                      ul.dropdown-menu.dropdown-light
                        li
                          a(href='#', tabindex='-1') Action
                        li
                          a(href='#', tabindex='-1') Another action
                        li
                          a(href='#', tabindex='-1') Something else here
                        li.divider
                        li.dropup.dropdown-hover
                          a.clearfix(href='#', tabindex='-1')
                            span.pull-left More options
                            i.ace-icon.fa.fa-caret-right.pull-right
                          ul.dropdown-menu.dropdown-light
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                    .dropup.dropdown-preview
                      ul.dropdown-menu.dropdown-purple
                        li
                          a(href='#', tabindex='-1') Action
                        li
                          a(href='#', tabindex='-1') Another action
                        li
                          a(href='#', tabindex='-1') Something else here
                        li.divider
                        li.dropdown-hover.dropup
                          a.clearfix(href='#', tabindex='-1')
                            span.pull-left More options
                            i.ace-icon.fa.fa-caret-left.pull-right
                          ul.dropdown-menu.dropdown-purple.dropdown-menu-right
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                            li
                              a(href='#', tabindex='-1') Second level link
                    .dropdown.dropdown-preview
                      ul.dropdown-menu.dropdown-icon-only.dropdown-50.dropdown-light
                        li.action-buttons
                          a.center(href='#', tabindex='-1')
                            i.fa.fa-flag.blue.bigger-130
                        li.action-buttons
                          a.center(href='#', tabindex='-1')
                            i.fa.fa-flag.red.bigger-130
                        li.action-buttons
                          a.center(href='#', tabindex='-1')
                            i.fa.fa-flag.green.bigger-130
                        li.action-buttons
                          a.center(href='#', tabindex='-1')
                            i.fa.fa-flag.orange.bigger-130
                  .col-sm-6
                    h3.row.header.smaller.lighter.blue
                      span.col-sm-7
                        i.ace-icon.fa.fa-th-large
                        | Pills
                      // /.col
                      span.col-sm-5
                        label.pull-right.inline
                          small.muted Stacked:
                          input#id-pills-stacked.ace.ace-switch.ace-switch-5(type='checkbox')
                          span.lbl.middle
                      // /.col
                    ul.nav.nav-pills
                      li.active
                        a(href='#') Home
                      li.disabled
                        a(href='#') Profile
                      li
                        a(href='#') Messages
                // PAGE CONTENT ENDS
              // /.col
            // /.row
          // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
              | Application &copy; 2013-2014
            | &nbsp; &nbsp;
            span.action-buttons
              a(href='#')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-rss-square.orange.bigger-150
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    script(src='assets/js/jquery-2.1.4.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.11.3.min.js')
    script(type='text/javascript').
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    script(src='assets/js/bootstrap.min.js')
    // page specific plugin scripts
    //if lte IE 8
      script(src='assets/js/excanvas.min.js')
    script(src='assets/js/jquery-ui.custom.min.js')
    script(src='assets/js/jquery.ui.touch-punch.min.js')
    script(src='assets/js/bootbox.js')
    script(src='assets/js/jquery.easypiechart.min.js')
    script(src='assets/js/jquery.gritter.min.js')
    script(src='assets/js/spin.js')
    // ace scripts
    script(src='assets/js/ace-elements.min.js')
    script(src='assets/js/ace.min.js')
    // inline scripts related to this page
    script(type='text/javascript').
      jQuery(function($) {
      /**
      $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      //console.log(e.target.getAttribute("href"));
      })
      $('#accordion').on('shown.bs.collapse', function (e) {
      //console.log($(e.target).is('#collapseTwo'))
      });
      */
      $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      //if($(e.target).attr('href') == "#home") doSomethingNow();
      })
      /**
      //go to next tab, without user clicking
      $('#myTab > .active').next().find('> a').trigger('click');
      */
      $('#accordion-style').on('click', function(ev){
      var target = $('input', ev.target);
      var which = parseInt(target.val());
      if(which == 2) $('#accordion').addClass('accordion-style2');
      else $('#accordion').removeClass('accordion-style2');
      });
      //$('[href="#collapseTwo"]').trigger('click');
      $('.easy-pie-chart.percentage').each(function(){
      $(this).easyPieChart({
      barColor: $(this).data('color'),
      trackColor: '#EEEEEE',
      scaleColor: false,
      lineCap: 'butt',
      lineWidth: 8,
      animate: ace.vars['old_ie'] ? false : 1000,
      size:75
      }).css('color', $(this).data('color'));
      });
      $('[data-rel=tooltip]').tooltip();
      $('[data-rel=popover]').popover({html:true});
      $('#gritter-regular').on(ace.click_event, function(){
      $.gritter.add({
      title: 'This is a regular notice!',
      text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="blue">magnis dis parturient</a> montes, nascetur ridiculus mus.',
      image: 'assets/images/avatars/avatar1.png', //in Ace demo ./dist will be replaced by correct assets path
      sticky: false,
      time: '',
      class_name: (!$('#gritter-light').get(0).checked ? 'gritter-light' : '')
      });
      return false;
      });
      $('#gritter-sticky').on(ace.click_event, function(){
      var unique_id = $.gritter.add({
      title: 'This is a sticky notice!',
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="red">magnis dis parturient</a> montes, nascetur ridiculus mus.',
      image: 'assets/images/avatars/avatar.png',
      sticky: true,
      time: '',
      class_name: 'gritter-info' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')
      });
      return false;
      });
      $('#gritter-without-image').on(ace.click_event, function(){
      $.gritter.add({
      // (string | mandatory) the heading of the notification
      title: 'This is a notice without an image!',
      // (string | mandatory) the text inside the notification
      text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="orange">magnis dis parturient</a> montes, nascetur ridiculus mus.',
      class_name: 'gritter-success' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')
      });
      return false;
      });
      $('#gritter-max3').on(ace.click_event, function(){
      $.gritter.add({
      title: 'This is a notice with a max of 3 on screen at one time!',
      text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="green">magnis dis parturient</a> montes, nascetur ridiculus mus.',
      image: 'assets/images/avatars/avatar3.png', //in Ace demo ./dist will be replaced by correct assets path
      sticky: false,
      before_open: function(){
      if($('.gritter-item-wrapper').length >= 3)
      {
      return false;
      }
      },
      class_name: 'gritter-warning' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')
      });
      return false;
      });
      $('#gritter-center').on(ace.click_event, function(){
      $.gritter.add({
      title: 'This is a centered notification',
      text: 'Just add a "gritter-center" class_name to your $.gritter.add or globally to $.gritter.options.class_name',
      class_name: 'gritter-info gritter-center' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')
      });
      return false;
      });
      $('#gritter-error').on(ace.click_event, function(){
      $.gritter.add({
      title: 'This is a warning notification',
      text: 'Just add a "gritter-light" class_name to your $.gritter.add or globally to $.gritter.options.class_name',
      class_name: 'gritter-error' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')
      });
      return false;
      });
      $("#gritter-remove").on(ace.click_event, function(){
      $.gritter.removeAll();
      return false;
      });
      ///////
      $("#bootbox-regular").on(ace.click_event, function() {
      bootbox.prompt("What is your name?", function(result) {
      if (result === null) {
      } else {
      }
      });
      });
      $("#bootbox-confirm").on(ace.click_event, function() {
      bootbox.confirm("Are you sure?", function(result) {
      if(result) {
      //
      }
      });
      });
      /**
      $("#bootbox-confirm").on(ace.click_event, function() {
      bootbox.confirm({
      message: "Are you sure?",
      buttons: {
      confirm: {
      label: "OK",
      className: "btn-primary btn-sm",
      },
      cancel: {
      label: "Cancel",
      className: "btn-sm",
      }
      },
      callback: function(result) {
      if(result) alert(1)
      }
      }
      );
      });
      **/
      $("#bootbox-options").on(ace.click_event, function() {
      bootbox.dialog({
      message: "<span class='bigger-110'>I am a custom dialog with smaller buttons</span>",
      buttons:
      {
      "success" :
      {
      "label" : "<i class='ace-icon fa fa-check'></i> Success!",
      "className" : "btn-sm btn-success",
      "callback": function() {
      //Example.show("great success");
      }
      },
      "danger" :
      {
      "label" : "Danger!",
      "className" : "btn-sm btn-danger",
      "callback": function() {
      //Example.show("uh oh, look out!");
      }
      },
      "click" :
      {
      "label" : "Click ME!",
      "className" : "btn-sm btn-primary",
      "callback": function() {
      //Example.show("Primary button");
      }
      },
      "button" :
      {
      "label" : "Just a button...",
      "className" : "btn-sm"
      }
      }
      });
      });
      $('#spinner-opts small').css({display:'inline-block', width:'60px'})
      var slide_styles = ['', 'green','red','purple','orange', 'dark'];
      var ii = 0;
      $("#spinner-opts input[type=text]").each(function() {
      var $this = $(this);
      $this.hide().after('<span />');
      $this.next().addClass('ui-slider-small').
      addClass("inline ui-slider-"+slide_styles[ii++ % slide_styles.length]).
      css('width','125px').slider({
      value:parseInt($this.val()),
      range: "min",
      animate:true,
      min: parseInt($this.attr('data-min')),
      max: parseInt($this.attr('data-max')),
      step: parseFloat($this.attr('data-step')) || 1,
      slide: function( event, ui ) {
      $this.val(ui.value);
      spinner_update();
      }
      });
      });
      //CSS3 spinner
      $.fn.spin = function(opts) {
      this.each(function() {
      var $this = $(this),
      data = $this.data();
      if (data.spinner) {
      data.spinner.stop();
      delete data.spinner;
      }
      if (opts !== false) {
      data.spinner = new Spinner($.extend({color: $this.css('color')}, opts)).spin(this);
      }
      });
      return this;
      };
      function spinner_update() {
      var opts = {};
      $('#spinner-opts input[type=text]').each(function() {
      opts[this.name] = parseFloat(this.value);
      });
      opts['left'] = 'auto';
      $('#spinner-preview').spin(opts);
      }
      $('#id-pills-stacked').removeAttr('checked').on('click', function(){
      $('.nav-pills').toggleClass('nav-stacked');
      });
      ///////////
      $(document).one('ajaxloadstart.page', function(e) {
      $.gritter.removeAll();
      $('.modal').modal('hide');
      });
      });
