doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Form Wizard - Ace Admin
    meta(name='description', content='and Validation')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/font-awesome/4.5.0/css/font-awesome.min.css')
    // page specific plugin styles
    link(rel='stylesheet', href='assets/css/select2.min.css')
    // text fonts
    link(rel='stylesheet', href='assets/css/fonts.googleapis.com.css')
    // ace styles
    link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace.min.css')
    //if lte IE 9
      link.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace-part2.min.css')
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')
    link(rel='stylesheet', href='assets/css/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ace-ie.min.css')
    // inline styles related to this page
    // ace settings handler
    script(src='assets/js/ace-extra.min.js')
    // HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    //if lte IE 8
      script(src='assets/js/html5shiv.min.js')
      script(src='assets/js/respond.min.js')
  body.no-skin
    #navbar.navbar.navbar-default.ace-save-state
      #navbar-container.navbar-container.ace-save-state
        button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button', data-target='#sidebar')
          span.sr-only Toggle sidebar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-header.pull-left
          a.navbar-brand(href='index.html')
            small
              i.fa.fa-leaf
              | Ace Admin
        .navbar-buttons.navbar-header.pull-right(role='navigation')
          ul.nav.ace-nav
            li.grey.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-tasks
                span.badge.badge-grey 4
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-check
                  | 4 Tasks to complete
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Software Update
                          span.pull-right 65%
                        .progress.progress-mini
                          .progress-bar(style='width:65%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Hardware Upgrade
                          span.pull-right 35%
                        .progress.progress-mini
                          .progress-bar.progress-bar-danger(style='width:35%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Unit Testing
                          span.pull-right 15%
                        .progress.progress-mini
                          .progress-bar.progress-bar-warning(style='width:15%')
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Bug Fixes
                          span.pull-right 90%
                        .progress.progress-mini.progress-striped.active
                          .progress-bar.progress-bar-success(style='width:90%')
                li.dropdown-footer
                  a(href='#')
                    | See tasks with details
                    i.ace-icon.fa.fa-arrow-right
            li.purple.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
                span.badge.badge-important 8
              ul.dropdown-menu-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-exclamation-triangle
                  | 8 Notifications
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar.navbar-pink
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-pink.fa.fa-comment
                            | New Comments
                          span.pull-right.badge.badge-info +12
                    li
                      a(href='#')
                        i.btn.btn-xs.btn-primary.fa.fa-user
                        | Bob just signed up as an editor ...
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-success.fa.fa-shopping-cart
                            | New Orders
                          span.pull-right.badge.badge-success +8
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-info.fa.fa-twitter
                            | Followers
                          span.pull-right.badge.badge-info +11
                li.dropdown-footer
                  a(href='#')
                    | See all notifications
                    i.ace-icon.fa.fa-arrow-right
            li.green.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-envelope.icon-animated-vertical
                span.badge.badge-success 5
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-envelope-o
                  | 5 Messages
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar.png', alt="Alex's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Alex:
                            | Ciao sociis natoque penatibus et auctor ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span a moment ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Susan:
                            | Vestibulum id ligula porta felis euismod ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 20 minutes ago
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Bob:
                            | Nullam quis risus eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 3:15 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Kate:
                            | Ciao sociis natoque eget urna mollis ornare ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 1:33 pm
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                        span.msg-body
                          span.msg-title
                            span.blue Fred:
                            | Vestibulum id penatibus et auctor  ...
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            span 10:09 am
                li.dropdown-footer
                  a(href='inbox.html')
                    | See all messages
                    i.ace-icon.fa.fa-arrow-right
            li.light-blue.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
                span.user-info
                  small Welcome,
                  | Jason
                i.ace-icon.fa.fa-caret-down
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    | Settings
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    | Profile
                li.divider
                li
                  a(href='#')
                    i.ace-icon.fa.fa-power-off
                    | Logout
      // /.navbar-container
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try{ace.settings.loadState('main-container')}catch(e){}
      #sidebar.sidebar.responsive.ace-save-state
        script(type='text/javascript').
          try{ace.settings.loadState('sidebar')}catch(e){}
        #sidebar-shortcuts.sidebar-shortcuts
          #sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-success
              i.ace-icon.fa.fa-signal
            button.btn.btn-info
              i.ace-icon.fa.fa-pencil
            button.btn.btn-warning
              i.ace-icon.fa.fa-users
            button.btn.btn-danger
              i.ace-icon.fa.fa-cogs
          #sidebar-shortcuts-mini.sidebar-shortcuts-mini
            span.btn.btn-success
            span.btn.btn-info
            span.btn.btn-warning
            span.btn.btn-danger
        // /.sidebar-shortcuts
        ul.nav.nav-list
          li
            a(href='index.html')
              i.menu-icon.fa.fa-tachometer
              span.menu-text  Dashboard 
            b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-desktop
              span.menu-text
                | UI &amp; Elements
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Layouts
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='top-menu.html')
                      i.menu-icon.fa.fa-caret-right
                      | Top Menu
                    b.arrow
                  li
                    a(href='two-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 1
                    b.arrow
                  li
                    a(href='two-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Two Menus 2
                    b.arrow
                  li
                    a(href='mobile-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | Default Mobile Menu
                    b.arrow
                  li
                    a(href='mobile-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 2
                    b.arrow
                  li
                    a(href='mobile-menu-3.html')
                      i.menu-icon.fa.fa-caret-right
                      | Mobile Menu 3
                    b.arrow
              li
                a(href='typography.html')
                  i.menu-icon.fa.fa-caret-right
                  | Typography
                b.arrow
              li
                a(href='elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Elements
                b.arrow
              li
                a(href='buttons.html')
                  i.menu-icon.fa.fa-caret-right
                  | Buttons &amp; Icons
                b.arrow
              li
                a(href='content-slider.html')
                  i.menu-icon.fa.fa-caret-right
                  | Content Sliders
                b.arrow
              li
                a(href='treeview.html')
                  i.menu-icon.fa.fa-caret-right
                  | Treeview
                b.arrow
              li
                a(href='jquery-ui.html')
                  i.menu-icon.fa.fa-caret-right
                  | jQuery UI
                b.arrow
              li
                a(href='nestable-list.html')
                  i.menu-icon.fa.fa-caret-right
                  | Nestable Lists
                b.arrow
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | Three Level Menu
                  b.arrow.fa.fa-angle-down
                b.arrow
                ul.submenu
                  li
                    a(href='#')
                      i.menu-icon.fa.fa-leaf.green
                      | Item #1
                    b.arrow
                  li
                    a.dropdown-toggle(href='#')
                      i.menu-icon.fa.fa-pencil.orange
                      | 4th level
                      b.arrow.fa.fa-angle-down
                    b.arrow
                    ul.submenu
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-plus.purple
                          | Add Product
                        b.arrow
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-eye.pink
                          | View Products
                        b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-list
              span.menu-text  Tables 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='tables.html')
                  i.menu-icon.fa.fa-caret-right
                  | Simple &amp; Dynamic
                b.arrow
              li
                a(href='jqgrid.html')
                  i.menu-icon.fa.fa-caret-right
                  | jqGrid plugin
                b.arrow
          li.active.open
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-pencil-square-o
              span.menu-text  Forms 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='form-elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements
                b.arrow
              li
                a(href='form-elements-2.html')
                  i.menu-icon.fa.fa-caret-right
                  | Form Elements 2
                b.arrow
              li.active
                a(href='form-wizard.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wizard &amp; Validation
                b.arrow
              li
                a(href='wysiwyg.html')
                  i.menu-icon.fa.fa-caret-right
                  | Wysiwyg &amp; Markdown
                b.arrow
              li
                a(href='dropzone.html')
                  i.menu-icon.fa.fa-caret-right
                  | Dropzone File Upload
                b.arrow
          li
            a(href='widgets.html')
              i.menu-icon.fa.fa-list-alt
              span.menu-text  Widgets 
            b.arrow
          li
            a(href='calendar.html')
              i.menu-icon.fa.fa-calendar
              span.menu-text
                | Calendar
                span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                  i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
            b.arrow
          li
            a(href='gallery.html')
              i.menu-icon.fa.fa-picture-o
              span.menu-text  Gallery 
            b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-tag
              span.menu-text  More Pages 
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='profile.html')
                  i.menu-icon.fa.fa-caret-right
                  | User Profile
                b.arrow
              li
                a(href='inbox.html')
                  i.menu-icon.fa.fa-caret-right
                  | Inbox
                b.arrow
              li
                a(href='pricing.html')
                  i.menu-icon.fa.fa-caret-right
                  | Pricing Tables
                b.arrow
              li
                a(href='invoice.html')
                  i.menu-icon.fa.fa-caret-right
                  | Invoice
                b.arrow
              li
                a(href='timeline.html')
                  i.menu-icon.fa.fa-caret-right
                  | Timeline
                b.arrow
              li
                a(href='search.html')
                  i.menu-icon.fa.fa-caret-right
                  | Search Results
                b.arrow
              li
                a(href='email.html')
                  i.menu-icon.fa.fa-caret-right
                  | Email Templates
                b.arrow
              li
                a(href='login.html')
                  i.menu-icon.fa.fa-caret-right
                  | Login &amp; Register
                b.arrow
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-file-o
              span.menu-text
                | Other Pages
                span.badge.badge-primary 5
              b.arrow.fa.fa-angle-down
            b.arrow
            ul.submenu
              li
                a(href='faq.html')
                  i.menu-icon.fa.fa-caret-right
                  | FAQ
                b.arrow
              li
                a(href='error-404.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 404
                b.arrow
              li
                a(href='error-500.html')
                  i.menu-icon.fa.fa-caret-right
                  | Error 500
                b.arrow
              li
                a(href='grid.html')
                  i.menu-icon.fa.fa-caret-right
                  | Grid
                b.arrow
              li
                a(href='blank.html')
                  i.menu-icon.fa.fa-caret-right
                  | Blank Page
                b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
      .main-content
        .main-content-inner
          #breadcrumbs.breadcrumbs.ace-save-state
            ul.breadcrumb
              li
                i.ace-icon.fa.fa-home.home-icon
                a(href='#') Home
              li
                a(href='#') Forms
              li.active Wizard &amp; Validation
            // /.breadcrumb
            #nav-search.nav-search
              form.form-search
                span.input-icon
                  input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                  i.ace-icon.fa.fa-search.nav-search-icon
            // /.nav-search
          .page-content
            #ace-settings-container.ace-settings-container
              #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
                i.ace-icon.fa.fa-cog.bigger-130
              #ace-settings-box.ace-settings-box.clearfix
                .pull-left.width-50
                  .ace-settings-item
                    .pull-left
                      select#skin-colorpicker.hide
                        option(data-skin='no-skin', value='#438EB9') #438EB9
                        option(data-skin='skin-1', value='#222A2D') #222A2D
                        option(data-skin='skin-2', value='#C6487E') #C6487E
                        option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
                    span &nbsp; Choose Skin
                  .ace-settings-item
                    input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-navbar')  Fixed Navbar
                  .ace-settings-item
                    input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
                  .ace-settings-item
                    input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
                  .ace-settings-item
                    input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
                  .ace-settings-item
                    input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-add-container')
                      | Inside
                      b .container
                // /.pull-left
                .pull-left.width-50
                  .ace-settings-item
                    input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-hover')  Submenu on Hover
                  .ace-settings-item
                    input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-compact')  Compact Sidebar
                  .ace-settings-item
                    input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    label.lbl(for='ace-settings-highlight')  Alt. Active Item
                // /.pull-left
              // /.ace-settings-box
            // /.ace-settings-container
            .page-header
              h1
                | Form Wizard
                small
                  i.ace-icon.fa.fa-angle-double-right
                  | and Validation
            // /.page-header
            .row
              .col-xs-12
                // PAGE CONTENT BEGINS
                h4.lighter
                  i.ace-icon.fa.fa-hand-o-right.icon-animated-hand-pointer.blue
                  a.pink(href='#modal-wizard', data-toggle='modal')  Wizard Inside a Modal Box 
                .hr.hr-18.hr-double.dotted
                .widget-box
                  .widget-header.widget-header-blue.widget-header-flat
                    h4.widget-title.lighter New Item Wizard
                    .widget-toolbar
                      label
                        small.green
                          b Validation
                        input#skip-validation.ace.ace-switch.ace-switch-4(type='checkbox')
                        span.lbl.middle
                  .widget-body
                    .widget-main
                      #fuelux-wizard-container
                        div
                          ul.steps
                            li.active(data-step='1')
                              span.step 1
                              span.title Validation states
                            li(data-step='2')
                              span.step 2
                              span.title Alerts
                            li(data-step='3')
                              span.step 3
                              span.title Payment Info
                            li(data-step='4')
                              span.step 4
                              span.title Other Info
                        hr
                        .step-content.pos-rel
                          .step-pane.active(data-step='1')
                            h3.lighter.block.green Enter the following information
                            form#sample-form.form-horizontal
                              .form-group.has-warning
                                label.col-xs-12.col-sm-3.control-label.no-padding-right(for='inputWarning') Input with warning
                                .col-xs-12.col-sm-5
                                  span.block.input-icon.input-icon-right
                                    input#inputWarning.width-100(type='text')
                                    i.ace-icon.fa.fa-leaf
                                .help-block.col-xs-12.col-sm-reset.inline  Warning tip help! 
                              .form-group.has-error
                                label.col-xs-12.col-sm-3.col-md-3.control-label.no-padding-right(for='inputError') Input with error
                                .col-xs-12.col-sm-5
                                  span.block.input-icon.input-icon-right
                                    input#inputError.width-100(type='text')
                                    i.ace-icon.fa.fa-times-circle
                                .help-block.col-xs-12.col-sm-reset.inline  Error tip help! 
                              .form-group.has-success
                                label.col-xs-12.col-sm-3.control-label.no-padding-right(for='inputSuccess') Input with success
                                .col-xs-12.col-sm-5
                                  span.block.input-icon.input-icon-right
                                    input#inputSuccess.width-100(type='text')
                                    i.ace-icon.fa.fa-check-circle
                                .help-block.col-xs-12.col-sm-reset.inline  Success tip help! 
                              .form-group.has-info
                                label.col-xs-12.col-sm-3.control-label.no-padding-right(for='inputInfo') Input with info
                                .col-xs-12.col-sm-5
                                  span.block.input-icon.input-icon-right
                                    input#inputInfo.width-100(type='text')
                                    i.ace-icon.fa.fa-info-circle
                                .help-block.col-xs-12.col-sm-reset.inline  Info tip help! 
                              .form-group
                                label.col-xs-12.col-sm-3.control-label.no-padding-right(for='inputError2') Input with error
                                .col-xs-12.col-sm-5
                                  span.input-icon.block
                                    input#inputError2.width-100(type='text')
                                    i.ace-icon.fa.fa-times-circle.red
                                .help-block.col-xs-12.col-sm-reset.inline  Error tip help! 
                            form#validation-form.form-horizontal.hide(method='get')
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='email') Email Address:
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    input#email.col-xs-12.col-sm-6(type='email', name='email')
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='password') Password:
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    input#password.col-xs-12.col-sm-4(type='password', name='password')
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='password2') Confirm Password:
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    input#password2.col-xs-12.col-sm-4(type='password', name='password2')
                              .hr.hr-dotted
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='name') Company Name:
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    input#name.col-xs-12.col-sm-5(type='text', name='name')
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='phone') Phone Number:
                                .col-xs-12.col-sm-9
                                  .input-group
                                    span.input-group-addon
                                      i.ace-icon.fa.fa-phone
                                    input#phone(type='tel', name='phone')
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='url') Company URL:
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    input#url.col-xs-12.col-sm-8(type='url', name='url')
                              .hr.hr-dotted
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right Subscribe to
                                .col-xs-12.col-sm-9
                                  div
                                    label
                                      input.ace(name='subscription', value='1', type='checkbox')
                                      span.lbl  Latest news and announcements
                                  div
                                    label
                                      input.ace(name='subscription', value='2', type='checkbox')
                                      span.lbl  Product offers and discounts
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right Gender
                                .col-xs-12.col-sm-9
                                  div
                                    label.line-height-1.blue
                                      input.ace(name='gender', value='1', type='radio')
                                      span.lbl  Male
                                  div
                                    label.line-height-1.blue
                                      input.ace(name='gender', value='2', type='radio')
                                      span.lbl  Female
                              .hr.hr-dotted
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='state') State
                                .col-xs-12.col-sm-9
                                  select#state.select2(name='state', data-placeholder='Click to Choose...')
                                    option(value='') &nbsp;
                                    option(value='AL') Alabama
                                    option(value='AK') Alaska
                                    option(value='AZ') Arizona
                                    option(value='AR') Arkansas
                                    option(value='CA') California
                                    option(value='CO') Colorado
                                    option(value='CT') Connecticut
                                    option(value='DE') Delaware
                                    option(value='FL') Florida
                                    option(value='GA') Georgia
                                    option(value='HI') Hawaii
                                    option(value='ID') Idaho
                                    option(value='IL') Illinois
                                    option(value='IN') Indiana
                                    option(value='IA') Iowa
                                    option(value='KS') Kansas
                                    option(value='KY') Kentucky
                                    option(value='LA') Louisiana
                                    option(value='ME') Maine
                                    option(value='MD') Maryland
                                    option(value='MA') Massachusetts
                                    option(value='MI') Michigan
                                    option(value='MN') Minnesota
                                    option(value='MS') Mississippi
                                    option(value='MO') Missouri
                                    option(value='MT') Montana
                                    option(value='NE') Nebraska
                                    option(value='NV') Nevada
                                    option(value='NH') New Hampshire
                                    option(value='NJ') New Jersey
                                    option(value='NM') New Mexico
                                    option(value='NY') New York
                                    option(value='NC') North Carolina
                                    option(value='ND') North Dakota
                                    option(value='OH') Ohio
                                    option(value='OK') Oklahoma
                                    option(value='OR') Oregon
                                    option(value='PA') Pennsylvania
                                    option(value='RI') Rhode Island
                                    option(value='SC') South Carolina
                                    option(value='SD') South Dakota
                                    option(value='TN') Tennessee
                                    option(value='TX') Texas
                                    option(value='UT') Utah
                                    option(value='VT') Vermont
                                    option(value='VA') Virginia
                                    option(value='WA') Washington
                                    option(value='WV') West Virginia
                                    option(value='WI') Wisconsin
                                    option(value='WY') Wyoming
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='platform') Platform
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    select#platform.input-medium(name='platform')
                                      option(value='') ------------------
                                      option(value='linux') Linux
                                      option(value='windows') Windows
                                      option(value='mac') Mac OS
                                      option(value='ios') iOS
                                      option(value='android') Android
                              .space-2
                              .form-group
                                label.control-label.col-xs-12.col-sm-3.no-padding-right(for='comment') Comment
                                .col-xs-12.col-sm-9
                                  .clearfix
                                    textarea#comment.input-xlarge(name='comment')
                              .space-8
                              .form-group
                                .col-xs-12.col-sm-4.col-sm-offset-3
                                  label
                                    input#agree.ace(name='agree', type='checkbox')
                                    span.lbl  I accept the policy
                          .step-pane(data-step='2')
                            div
                              .alert.alert-success
                                button.close(type='button', data-dismiss='alert')
                                  i.ace-icon.fa.fa-times
                                strong
                                  i.ace-icon.fa.fa-check
                                  | Well done!
                                | You successfully read this important alert message.
                                br
                              .alert.alert-danger
                                button.close(type='button', data-dismiss='alert')
                                  i.ace-icon.fa.fa-times
                                strong
                                  i.ace-icon.fa.fa-times
                                  | Oh snap!
                                | Change a few things up and try submitting again.
                                br
                              .alert.alert-warning
                                button.close(type='button', data-dismiss='alert')
                                  i.ace-icon.fa.fa-times
                                strong Warning!
                                | Best check yo self, you&apos;re not looking too good.
                                br
                              .alert.alert-info
                                button.close(type='button', data-dismiss='alert')
                                  i.ace-icon.fa.fa-times
                                strong Heads up!
                                | This alert needs your attention, but it&apos;s not super important.
                                br
                          .step-pane(data-step='3')
                            .center
                              h3.blue.lighter This is step 3
                          .step-pane(data-step='4')
                            .center
                              h3.green Congrats!
                              | Your product is ready to ship! Click finish to continue!
                      hr
                      .wizard-actions
                        button.btn.btn-prev
                          i.ace-icon.fa.fa-arrow-left
                          | Prev
                        button.btn.btn-success.btn-next(data-last='Finish')
                          | Next
                          i.ace-icon.fa.fa-arrow-right.icon-on-right
                    // /.widget-main
                  // /.widget-body
                #modal-wizard.modal
                  .modal-dialog
                    .modal-content
                      #modal-wizard-container
                        .modal-header
                          ul.steps
                            li.active(data-step='1')
                              span.step 1
                              span.title Validation states
                            li(data-step='2')
                              span.step 2
                              span.title Alerts
                            li(data-step='3')
                              span.step 3
                              span.title Payment Info
                            li(data-step='4')
                              span.step 4
                              span.title Other Info
                        .modal-body.step-content
                          .step-pane.active(data-step='1')
                            .center
                              h4.blue Step 1
                          .step-pane(data-step='2')
                            .center
                              h4.blue Step 2
                          .step-pane(data-step='3')
                            .center
                              h4.blue Step 3
                          .step-pane(data-step='4')
                            .center
                              h4.blue Step 4
                      .modal-footer.wizard-actions
                        button.btn.btn-sm.btn-prev
                          i.ace-icon.fa.fa-arrow-left
                          | Prev
                        button.btn.btn-success.btn-sm.btn-next(data-last='Finish')
                          | Next
                          i.ace-icon.fa.fa-arrow-right.icon-on-right
                        button.btn.btn-danger.btn-sm.pull-left(data-dismiss='modal')
                          i.ace-icon.fa.fa-times
                          | Cancel
                // PAGE CONTENT ENDS
              // /.col
            // /.row
          // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
              | Application &copy; 2013-2014
            | &nbsp; &nbsp;
            span.action-buttons
              a(href='#')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
              a(href='#')
                i.ace-icon.fa.fa-rss-square.orange.bigger-150
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    script(src='assets/js/jquery-2.1.4.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.11.3.min.js')
    script(type='text/javascript').
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    script(src='assets/js/bootstrap.min.js')
    // page specific plugin scripts
    script(src='assets/js/wizard.min.js')
    script(src='assets/js/jquery.validate.min.js')
    script(src='assets/js/jquery-additional-methods.min.js')
    script(src='assets/js/bootbox.js')
    script(src='assets/js/jquery.maskedinput.min.js')
    script(src='assets/js/select2.min.js')
    // ace scripts
    script(src='assets/js/ace-elements.min.js')
    script(src='assets/js/ace.min.js')
    // inline scripts related to this page
    script(type='text/javascript').
      jQuery(function($) {
      $('[data-rel=tooltip]').tooltip();
      $('.select2').css('width','200px').select2({allowClear:true})
      .on('change', function(){
      $(this).closest('form').validate().element($(this));
      });
      var $validation = false;
      $('#fuelux-wizard-container')
      .ace_wizard({
      //step: 2 //optional argument. wizard will jump to step "2" at first
      //buttons: '.wizard-actions:eq(0)'
      })
      .on('actionclicked.fu.wizard' , function(e, info){
      if(info.step == 1 && $validation) {
      if(!$('#validation-form').valid()) e.preventDefault();
      }
      })
      //.on('changed.fu.wizard', function() {
      //})
      .on('finished.fu.wizard', function(e) {
      bootbox.dialog({
      message: "Thank you! Your information was successfully saved!",
      buttons: {
      "success" : {
      "label" : "OK",
      "className" : "btn-sm btn-primary"
      }
      }
      });
      }).on('stepclick.fu.wizard', function(e){
      //e.preventDefault();//this will prevent clicking and selecting steps
      });
      //jump to a step
      /**
      var wizard = $('#fuelux-wizard-container').data('fu.wizard')
      wizard.currentStep = 3;
      wizard.setState();
      */
      //determine selected step
      //wizard.selectedItem().step
      //hide or show the other form which requires validation
      //this is for demo only, you usullay want just one form in your application
      $('#skip-validation').removeAttr('checked').on('click', function(){
      $validation = this.checked;
      if(this.checked) {
      $('#sample-form').hide();
      $('#validation-form').removeClass('hide');
      }
      else {
      $('#validation-form').addClass('hide');
      $('#sample-form').show();
      }
      })
      //documentation : http://docs.jquery.com/Plugins/Validation/validate
      $.mask.definitions['~']='[+-]';
      $('#phone').mask('(999) 999-9999');
      jQuery.validator.addMethod("phone", function (value, element) {
      return this.optional(element) || /^\\(\d{3}\) \d{3}\-\d{4}( x\d{1,6})?$/.test(value);
      }, "Enter a valid phone number.");
      $('#validation-form').validate({
      errorElement: 'div',
      errorClass: 'help-block',
      focusInvalid: false,
      ignore: "",
      rules: {
      email: {
      required: true,
      email:true
      },
      password: {
      required: true,
      minlength: 5
      },
      password2: {
      required: true,
      minlength: 5,
      equalTo: "#password"
      },
      name: {
      required: true
      },
      phone: {
      required: true,
      phone: 'required'
      },
      url: {
      required: true,
      url: true
      },
      comment: {
      required: true
      },
      state: {
      required: true
      },
      platform: {
      required: true
      },
      subscription: {
      required: true
      },
      gender: {
      required: true,
      },
      agree: {
      required: true,
      }
      },
      messages: {
      email: {
      required: "Please provide a valid email.",
      email: "Please provide a valid email."
      },
      password: {
      required: "Please specify a password.",
      minlength: "Please specify a secure password."
      },
      state: "Please choose state",
      subscription: "Please choose at least one option",
      gender: "Please choose gender",
      agree: "Please accept our policy"
      },
      highlight: function (e) {
      $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
      },
      success: function (e) {
      $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
      $(e).remove();
      },
      errorPlacement: function (error, element) {
      if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
      var controls = element.closest('div[class*="col-"]');
      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
      }
      else if(element.is('.select2')) {
      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
      }
      else if(element.is('.chosen-select')) {
      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
      }
      else error.insertAfter(element.parent());
      },
      submitHandler: function (form) {
      },
      invalidHandler: function (form) {
      }
      });
      $('#modal-wizard-container').ace_wizard();
      $('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');
      /**
      $('#date').datepicker({autoclose:true}).on('changeDate', function(ev) {
      $(this).closest('form').validate().element($(this));
      });
      $('#mychosen').chosen().on('change', function(ev) {
      $(this).closest('form').validate().element($(this));
      });
      */
      $(document).one('ajaxloadstart.page', function(e) {
      //in ajax mode, remove remaining elements before leaving page
      $('[class*=select2]').remove();
      });
      })
