doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    title Collapsible Responsive(mobile) Menu - Ace Admin
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/font-awesome/4.5.0/css/font-awesome.min.css')
    // page specific plugin styles
    // text fonts
    link(rel='stylesheet', href='assets/css/fonts.googleapis.com.css')
    // ace styles
    link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace.min.css')
    //if lte IE 9
      link.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace-part2.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/css/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ace-ie.min.css')
    // inline styles related to this page
    // ace settings handler
    script(src='assets/js/ace-extra.min.js')
    // HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    //if lte IE 8
      script(src='assets/js/html5shiv.min.js')
      | &#x9;&#x9;
      script(src='assets/js/respond.min.js')
  | &#x9;
  body.no-skin
    #navbar.navbar.navbar-default.navbar-collapse.ace-save-state
      #navbar-container.navbar-container.ace-save-state
        .navbar-header.pull-left
          a.navbar-brand(href='index.html')
            small
              i.fa.fa-leaf
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ace Admin
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          button.pull-right.navbar-toggle.navbar-toggle-img.collapsed(type='button', data-toggle='collapse', data-target='.navbar-buttons')
            span.sr-only Toggle user menu
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            img(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          button.pull-right.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar')
            span.sr-only Toggle sidebar
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
        | &#x9;&#x9;&#x9;&#x9;
        .navbar-buttons.navbar-header.pull-right.collapse.navbar-collapse(role='navigation')
          ul.nav.ace-nav
            li.transparent.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                .tabbable
                  ul.nav.nav-tabs
                    li.active
                      a(data-toggle='tab', href='#navbar-tasks')
                        | Tasks
                        span.badge.badge-danger 4
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(data-toggle='tab', href='#navbar-messages')
                        | Messages
                        span.badge.badge-danger 5
                  // .nav-tabs
                  .tab-content
                    #navbar-tasks.tab-pane.in.active
                      ul.dropdown-menu-right.dropdown-navbar.dropdown-menu
                        li.dropdown-content
                          ul.dropdown-menu.dropdown-navbar
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Software Update
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.pull-right 65%
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .progress.progress-mini
                                  .progress-bar(style='width:65%')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Hardware Upgrade
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.pull-right 35%
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .progress.progress-mini
                                  .progress-bar.progress-bar-danger(style='width:35%')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Unit Testing
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.pull-right 15%
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .progress.progress-mini
                                  .progress-bar.progress-bar-warning(style='width:15%')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Bug Fixes
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.pull-right 90%
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .progress.progress-mini.progress-striped.active
                                  .progress-bar.progress-bar-success(style='width:90%')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li.dropdown-footer
                          a(href='#')
                            | See tasks with details
                            i.ace-icon.fa.fa-arrow-right
                    // /.tab-pane
                    #navbar-messages.tab-pane
                      ul.dropdown-menu-right.dropdown-navbar.dropdown-menu
                        li.dropdown-content
                          ul.dropdown-menu.dropdown-navbar
                            li
                              a(href='#')
                                img.msg-photo(src='assets/images/avatars/avatar.png', alt="Alex's Avatar")
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                span.msg-body
                                  span.msg-title
                                    span.blue Alex:
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ciao sociis natoque penatibus et auctor ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span a moment ago
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                img.msg-photo(src='assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                span.msg-body
                                  span.msg-title
                                    span.blue Susan:
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Vestibulum id ligula porta felis euismod ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 20 minutes ago
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                img.msg-photo(src='assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                span.msg-body
                                  span.msg-title
                                    span.blue Bob:
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nullam quis risus eget urna mollis ornare ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 3:15 pm
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                img.msg-photo(src='assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                span.msg-body
                                  span.msg-title
                                    span.blue Kate:
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ciao sociis natoque eget urna mollis ornare ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 1:33 pm
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#')
                                img.msg-photo(src='assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                span.msg-body
                                  span.msg-title
                                    span.blue Fred:
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Vestibulum id penatibus et auctor  ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 10:09 am
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li.dropdown-footer
                          a(href='inbox.html')
                            | See all messages
                            i.ace-icon.fa.fa-arrow-right
                    // /.tab-pane
                  // /.tab-content
                // /.tabbable
              // /.dropdown-menu
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.light-blue.dropdown-modal.user-min
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.user-info
                  small Welcome,
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jason
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                i.ace-icon.fa.fa-caret-down
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Settings
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Profile
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.divider
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.ace-icon.fa.fa-power-off
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Logout
      // /.navbar-container
    | &#x9;&#x9;
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try{ace.settings.loadState('main-container')}catch(e){}
      | &#x9;&#x9;&#x9;
      #sidebar.sidebar.navbar-collapse.collapse.ace-save-state
        script(type='text/javascript').
          try{ace.settings.loadState('sidebar')}catch(e){}
        | &#x9;&#x9;&#x9;&#x9;
        #sidebar-shortcuts.sidebar-shortcuts
          #sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-success
              i.ace-icon.fa.fa-signal
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-info
              i.ace-icon.fa.fa-pencil
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-warning
              i.ace-icon.fa.fa-users
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-danger
              i.ace-icon.fa.fa-cogs
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #sidebar-shortcuts-mini.sidebar-shortcuts-mini
            span.btn.btn-success
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.btn.btn-info
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.btn.btn-warning
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.btn.btn-danger
        // /.sidebar-shortcuts
        ul.nav.nav-list
          li
            a(href='index.html')
              i.menu-icon.fa.fa-tachometer
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Dashboard 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li.active.open
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-desktop
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text
                | UI &amp; Elements
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li.active.open
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Layouts
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow.fa.fa-angle-down
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.submenu
                  li
                    a(href='top-menu.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Top Menu
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='two-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Two Menus 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='two-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Two Menus 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='mobile-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Default Mobile Menu
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='mobile-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mobile Menu 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.active
                    a(href='mobile-menu-3.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mobile Menu 3
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='typography.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Typography
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Elements
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='buttons.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Buttons &amp; Icons
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='content-slider.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Content Sliders
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='treeview.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Treeview
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='jquery-ui.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;jQuery UI
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='nestable-list.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nestable Lists
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Three Level Menu
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow.fa.fa-angle-down
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.submenu
                  li
                    a(href='#')
                      i.menu-icon.fa.fa-leaf.green
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Item #1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.dropdown-toggle(href='#')
                      i.menu-icon.fa.fa-pencil.orange
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4th level
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      b.arrow.fa.fa-angle-down
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul.submenu
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-plus.purple
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Add Product
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        b.arrow
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-eye.pink
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;View Products
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-list
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Tables 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='tables.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Simple &amp; Dynamic
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='jqgrid.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;jqGrid plugin
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-pencil-square-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Forms 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='form-elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Form Elements
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='form-elements-2.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Form Elements 2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='form-wizard.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Wizard &amp; Validation
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='wysiwyg.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Wysiwyg &amp; Markdown
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='dropzone.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Dropzone File Upload
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='widgets.html')
              i.menu-icon.fa.fa-list-alt
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Widgets 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='calendar.html')
              i.menu-icon.fa.fa-calendar
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text
                | Calendar
                span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                  i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='gallery.html')
              i.menu-icon.fa.fa-picture-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Gallery 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-tag
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  More Pages 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='profile.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;User Profile
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='inbox.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Inbox
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='pricing.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Pricing Tables
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='invoice.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Invoice
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='timeline.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Timeline
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='search.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Search Results
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='email.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Email Templates
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='login.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Login &amp; Register
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-file-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text
                | Other Pages
                span.badge.badge-primary 5
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='faq.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;FAQ
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='error-404.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Error 404
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='error-500.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Error 500
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='grid.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Grid
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='blank.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Blank Page
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
      | &#x9;&#x9;&#x9;
      .main-content
        .main-content-inner
          #breadcrumbs.breadcrumbs.ace-save-state
            ul.breadcrumb
              li
                i.ace-icon.fa.fa-home.home-icon
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='#') Home
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') UI &amp; Elements
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') Layouts
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.active Mobile Menu 3
            // /.breadcrumb
            #nav-search.nav-search
              form.form-search
                span.input-icon
                  input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.ace-icon.fa.fa-search.nav-search-icon
            // /.nav-search
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .page-content
            #ace-settings-container.ace-settings-container
              #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
                i.ace-icon.fa.fa-cog.bigger-130
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ace-settings-box.ace-settings-box.clearfix
                .pull-left.width-50
                  .ace-settings-item
                    .pull-left
                      select#skin-colorpicker.hide
                        option(data-skin='no-skin', value='#438EB9') #438EB9
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        option(data-skin='skin-1', value='#222A2D') #222A2D
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        option(data-skin='skin-2', value='#C6487E') #C6487E
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span &nbsp; Choose Skin
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-navbar')  Fixed Navbar
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-add-container')
                      | Inside
                      b .container
                // /.pull-left
                .pull-left.width-50
                  .ace-settings-item
                    input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-hover')  Submenu on Hover
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-compact')  Compact Sidebar
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-highlight')  Alt. Active Item
                // /.pull-left
              // /.ace-settings-box
            // /.ace-settings-container
            .page-header
              h1 Collapsible Responsive(mobile) Menu 
            // /.page-header
            .row
              .col-xs-12
                // PAGE CONTENT BEGINS
                .alert.alert-info.hidden-sm.hidden-xs
                  button.close(type='button', data-dismiss='alert')
                    i.ace-icon.fa.fa-times
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Please note that
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.blue.bolder mobile menu
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;is visible only when window size is less than
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.blue.bolder 992px
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;,which you can change using CSS builder tool.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .alert.alert-info.hidden-md.hidden-lg
                  button.close(type='button', data-dismiss='alert')
                    i.ace-icon.fa.fa-times
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;When device is smaller than
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.blue.bolder 992px
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;wide, side menu is collapsed and will be visible by clicking on the menu button above.
                // PAGE CONTENT ENDS
              // /.col
            // /.row
          // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Application &copy; 2013-2014
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp; &nbsp;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.action-buttons
              a(href='#')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#')
                i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#')
                i.ace-icon.fa.fa-rss-square.orange.bigger-150
      | &#x9;&#x9;&#x9;
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    | &#x9;&#x9;
    script(src='assets/js/jquery-2.1.4.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.11.3.min.js')
    | &#x9;&#x9;
    script(type='text/javascript').
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    | &#x9;&#x9;
    script(src='assets/js/bootstrap.min.js')
    // page specific plugin scripts
    // ace scripts
    script(src='assets/js/ace-elements.min.js')
    | &#x9;&#x9;
    script(src='assets/js/ace.min.js')
    // inline scripts related to this page
