doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    title Search Results - Ace Admin
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/font-awesome/4.5.0/css/font-awesome.min.css')
    // page specific plugin styles
    link(rel='stylesheet', href='assets/css/select2.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/css/jquery-ui.custom.min.css')
    // text fonts
    link(rel='stylesheet', href='assets/css/fonts.googleapis.com.css')
    // ace styles
    link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace.min.css')
    //if lte IE 9
      link.ace-main-stylesheet(rel='stylesheet', href='assets/css/ace-part2.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/css/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ace-ie.min.css')
    // inline styles related to this page
    // ace settings handler
    script(src='assets/js/ace-extra.min.js')
    // HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    //if lte IE 8
      script(src='assets/js/html5shiv.min.js')
      | &#x9;&#x9;
      script(src='assets/js/respond.min.js')
  | &#x9;
  body.no-skin
    #navbar.navbar.navbar-default.ace-save-state
      #navbar-container.navbar-container.ace-save-state
        button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button', data-target='#sidebar')
          span.sr-only Toggle sidebar
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          span.icon-bar
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          span.icon-bar
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          span.icon-bar
        | &#x9;&#x9;&#x9;&#x9;
        .navbar-header.pull-left
          a.navbar-brand(href='index.html')
            small
              i.fa.fa-leaf
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ace Admin
        | &#x9;&#x9;&#x9;&#x9;
        .navbar-buttons.navbar-header.pull-right(role='navigation')
          ul.nav.ace-nav
            li.grey.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-tasks
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.badge.badge-grey 4
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-check
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4 Tasks to complete
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Software Update
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right 65%
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .progress.progress-mini
                          .progress-bar(style='width:65%')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Hardware Upgrade
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right 35%
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .progress.progress-mini
                          .progress-bar.progress-bar-danger(style='width:35%')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Unit Testing
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right 15%
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .progress.progress-mini
                          .progress-bar.progress-bar-warning(style='width:15%')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left Bug Fixes
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right 90%
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .progress.progress-mini.progress-striped.active
                          .progress-bar.progress-bar-success(style='width:90%')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.dropdown-footer
                  a(href='#')
                    | See tasks with details
                    i.ace-icon.fa.fa-arrow-right
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.purple.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.badge.badge-important 8
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.dropdown-menu-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-exclamation-triangle
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;8 Notifications
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar.navbar-pink
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-pink.fa.fa-comment
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;New Comments
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right.badge.badge-info +12
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        i.btn.btn-xs.btn-primary.fa.fa-user
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Bob just signed up as an editor ...
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-success.fa.fa-shopping-cart
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;New Orders
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right.badge.badge-success +8
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        .clearfix
                          span.pull-left
                            i.btn.btn-xs.no-hover.btn-info.fa.fa-twitter
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Followers
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.pull-right.badge.badge-info +11
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.dropdown-footer
                  a(href='#')
                    | See all notifications
                    i.ace-icon.fa.fa-arrow-right
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.green.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-envelope.icon-animated-vertical
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.badge.badge-success 5
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                li.dropdown-header
                  i.ace-icon.fa.fa-envelope-o
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Messages
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.dropdown-content
                  ul.dropdown-menu.dropdown-navbar
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar.png', alt="Alex's Avatar")
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.msg-body
                          span.msg-title
                            span.blue Alex:
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ciao sociis natoque penatibus et auctor ...
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span a moment ago
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.msg-body
                          span.msg-title
                            span.blue Susan:
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Vestibulum id ligula porta felis euismod ...
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span 20 minutes ago
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.msg-body
                          span.msg-title
                            span.blue Bob:
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nullam quis risus eget urna mollis ornare ...
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span 3:15 pm
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.msg-body
                          span.msg-title
                            span.blue Kate:
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ciao sociis natoque eget urna mollis ornare ...
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span 1:33 pm
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a.clearfix(href='#')
                        img.msg-photo(src='assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.msg-body
                          span.msg-title
                            span.blue Fred:
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Vestibulum id penatibus et auctor  ...
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span.msg-time
                            i.ace-icon.fa.fa-clock-o
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span 10:09 am
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.dropdown-footer
                  a(href='inbox.html')
                    | See all messages
                    i.ace-icon.fa.fa-arrow-right
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.light-blue.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='assets/images/avatars/user.jpg', alt="Jason's Photo")
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.user-info
                  small Welcome,
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jason
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                i.ace-icon.fa.fa-caret-down
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Settings
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Profile
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.divider
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.ace-icon.fa.fa-power-off
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Logout
      // /.navbar-container
    | &#x9;&#x9;
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try{ace.settings.loadState('main-container')}catch(e){}
      | &#x9;&#x9;&#x9;
      #sidebar.sidebar.responsive.ace-save-state
        script(type='text/javascript').
          try{ace.settings.loadState('sidebar')}catch(e){}
        | &#x9;&#x9;&#x9;&#x9;
        #sidebar-shortcuts.sidebar-shortcuts
          #sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-success
              i.ace-icon.fa.fa-signal
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-info
              i.ace-icon.fa.fa-pencil
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-warning
              i.ace-icon.fa.fa-users
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-danger
              i.ace-icon.fa.fa-cogs
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #sidebar-shortcuts-mini.sidebar-shortcuts-mini
            span.btn.btn-success
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.btn.btn-info
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.btn.btn-warning
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.btn.btn-danger
        // /.sidebar-shortcuts
        ul.nav.nav-list
          li
            a(href='index.html')
              i.menu-icon.fa.fa-tachometer
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Dashboard 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-desktop
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text
                | UI &amp; Elements
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Layouts
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow.fa.fa-angle-down
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.submenu
                  li
                    a(href='top-menu.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Top Menu
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='two-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Two Menus 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='two-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Two Menus 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='mobile-menu-1.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Default Mobile Menu
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='mobile-menu-2.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mobile Menu 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='mobile-menu-3.html')
                      i.menu-icon.fa.fa-caret-right
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mobile Menu 3
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='typography.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Typography
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Elements
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='buttons.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Buttons &amp; Icons
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='content-slider.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Content Sliders
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='treeview.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Treeview
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='jquery-ui.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;jQuery UI
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='nestable-list.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nestable Lists
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.dropdown-toggle(href='#')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Three Level Menu
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow.fa.fa-angle-down
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.submenu
                  li
                    a(href='#')
                      i.menu-icon.fa.fa-leaf.green
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Item #1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.dropdown-toggle(href='#')
                      i.menu-icon.fa.fa-pencil.orange
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4th level
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      b.arrow.fa.fa-angle-down
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul.submenu
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-plus.purple
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Add Product
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        b.arrow
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#')
                          i.menu-icon.fa.fa-eye.pink
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;View Products
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-list
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Tables 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='tables.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Simple &amp; Dynamic
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='jqgrid.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;jqGrid plugin
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-pencil-square-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Forms 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='form-elements.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Form Elements
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='form-elements-2.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Form Elements 2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='form-wizard.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Wizard &amp; Validation
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='wysiwyg.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Wysiwyg &amp; Markdown
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='dropzone.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Dropzone File Upload
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='widgets.html')
              i.menu-icon.fa.fa-list-alt
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Widgets 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='calendar.html')
              i.menu-icon.fa.fa-calendar
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text
                | Calendar
                span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                  i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='gallery.html')
              i.menu-icon.fa.fa-picture-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  Gallery 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li.active.open
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-tag
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text  More Pages 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='profile.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;User Profile
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='inbox.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Inbox
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='pricing.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Pricing Tables
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='invoice.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Invoice
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='timeline.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Timeline
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.active
                a(href='search.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Search Results
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='email.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Email Templates
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='login.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Login &amp; Register
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a.dropdown-toggle(href='#')
              i.menu-icon.fa.fa-file-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.menu-text
                | Other Pages
                span.badge.badge-primary 5
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow.fa.fa-angle-down
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.submenu
              li
                a(href='faq.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;FAQ
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='error-404.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Error 404
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='error-500.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Error 500
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='grid.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Grid
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='blank.html')
                  i.menu-icon.fa.fa-caret-right
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Blank Page
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
      | &#x9;&#x9;&#x9;
      .main-content
        .main-content-inner
          #breadcrumbs.breadcrumbs.ace-save-state
            ul.breadcrumb
              li
                i.ace-icon.fa.fa-home.home-icon
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='#') Home
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') More Pages
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.active Search Results
            // /.breadcrumb
            #nav-search.nav-search
              form.form-search
                span.input-icon
                  input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.ace-icon.fa.fa-search.nav-search-icon
            // /.nav-search
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .page-content
            #ace-settings-container.ace-settings-container
              #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
                i.ace-icon.fa.fa-cog.bigger-130
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ace-settings-box.ace-settings-box.clearfix
                .pull-left.width-50
                  .ace-settings-item
                    .pull-left
                      select#skin-colorpicker.hide
                        option(data-skin='no-skin', value='#438EB9') #438EB9
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        option(data-skin='skin-1', value='#222A2D') #222A2D
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        option(data-skin='skin-2', value='#C6487E') #C6487E
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span &nbsp; Choose Skin
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-navbar')  Fixed Navbar
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-add-container')
                      | Inside
                      b .container
                // /.pull-left
                .pull-left.width-50
                  .ace-settings-item
                    input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-hover')  Submenu on Hover
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-compact')  Compact Sidebar
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .ace-settings-item
                    input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    label.lbl(for='ace-settings-highlight')  Alt. Active Item
                // /.pull-left
              // /.ace-settings-box
            // /.ace-settings-container
            .page-header
              h1 Search Results 
            // /.page-header
            .row
              .col-xs-12
                // PAGE CONTENT BEGINS
                .clearfix
                  .pull-right
                    span.green.middle.bolder Choose result page type: &nbsp;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .btn-toolbar.inline.middle.no-margin
                      #toggle-result-page.btn-group.no-margin(data-toggle='buttons')
                        label.btn.btn-sm.btn-yellow.active
                          span.bigger-110 1
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          input(type='radio', value='1')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        label.btn.btn-sm.btn-yellow
                          span.bigger-110 2
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          input(type='radio', value='2')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .hr.dotted
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                div
                  #search-page-1.row.search-page
                    .col-xs-12
                      .row
                        .col-xs-12.col-sm-3
                          .search-area.well.well-sm
                            .search-filter-header.bg-primary
                              h5.smaller.no-margin-bottom
                                i.ace-icon.fa.fa-sliders.light-green.bigger-130
                                | &nbsp; Refine your Search
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .space-10
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            form
                              .row
                                .col-xs-12.col-sm-11.col-md-10
                                  .input-group
                                    input.form-control(type='text', name='keywords', placeholder='Look within results')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .input-group-btn
                                      button.btn.btn-default.no-border.btn-sm(type='button')
                                        i.ace-icon.fa.fa-search.icon-on-right.bigger-110
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .hr.hr-dotted
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4.blue.smaller
                              i.fa.fa-tags
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Category
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .tree-container
                              ul#cat-tree
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .hr.hr-dotted
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4.blue.smaller
                              i.fa.fa-map-marker.light-orange.bigger-110
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Location
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            div
                              select.select2.tag-input-style(multiple='', name='state', data-placeholder='Click to Choose...')
                                option(value='') &nbsp;
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='AL') Alabama
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='AK') Alaska
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='AZ') Arizona
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='AR') Arkansas
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='CA') California
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='CO') Colorado
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='CT') Connecticut
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='DE') Delaware
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='FL') Florida
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='GA') Georgia
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='HI') Hawaii
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='ID') Idaho
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='IL') Illinois
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='IN') Indiana
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='IA') Iowa
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='KS') Kansas
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='KY') Kentucky
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='LA') Louisiana
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='ME') Maine
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MD') Maryland
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MA') Massachusetts
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MI') Michigan
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MN') Minnesota
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MS') Mississippi
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MO') Missouri
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='MT') Montana
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NE') Nebraska
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NV') Nevada
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NH') New Hampshire
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NJ') New Jersey
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NM') New Mexico
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NY') New York
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='NC') North Carolina
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='ND') North Dakota
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='OH') Ohio
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='OK') Oklahoma
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='OR') Oregon
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='PA') Pennsylvania
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='RI') Rhode Island
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='SC') South Carolina
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='SD') South Dakota
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='TN') Tennessee
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='TX') Texas
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='UT') Utah
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='VT') Vermont
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='VA') Virginia
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='WA') Washington
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='WV') West Virginia
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='WI') Wisconsin
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                option(value='WY') Wyoming
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .hr.hr-dotted
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4.blue.smaller
                              i.fa.fa-location-arrow.light-grey.bigger-110
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Distance
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .search-filter-element
                              span within
                              | &nbsp;
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              #slider-range.inline
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              span miles
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .hr.hr-dotted.hr-24
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .text-center
                              button.btn.btn-default.btn-round.btn-sm.btn-white(type='button')
                                i.ace-icon.fa.fa-remove.red2
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Reset
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              button.btn.btn-default.btn-round.btn-white(type='button')
                                i.ace-icon.fa.fa-refresh.green
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Update
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .space-4
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .col-xs-12.col-sm-9
                          .row
                            .search-area.well.col-xs-12
                              .pull-left
                                b.text-primary Display
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                #toggle-result-format.btn-group.btn-overlap(data-toggle='buttons')
                                  label.btn.btn-lg.btn-white.btn-success.active(title='Thumbnail view', data-class='btn-success', aria-pressed='true')
                                    input(type='radio', value='2', autocomplete='off')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    i.icon-only.ace-icon.fa.fa-th
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  label.btn.btn-lg.btn-white.btn-grey(title='List view', data-class='btn-primary')
                                    input(type='radio', value='1', checked='', autocomplete='off')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    i.icon-only.ace-icon.fa.fa-list
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  label.btn.btn-lg.btn-white.btn-grey(title='Map view', data-class='btn-warning')
                                    input(type='radio', value='3', autocomplete='off')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    i.icon-only.ace-icon.fa.fa-crosshairs
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .pull-right
                                b.text-primary Order
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                select
                                  option Relevance
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  option Newest First
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  option Rating
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .row
                            .col-xs-6.col-sm-4.col-md-3
                              .thumbnail.search-thumbnail
                                span.search-promotion.label.label-success.arrowed-in.arrowed-in-right Sponsored
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                img.media-object(data-src='holder.js/100px200?theme=gray')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .caption
                                  .clearfix
                                    span.pull-right.label.label-grey.info-label London
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .pull-left.bigger-110
                                      i.ace-icon.fa.fa-star.orange2
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      i.ace-icon.fa.fa-star.orange2
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      i.ace-icon.fa.fa-star.orange2
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      i.ace-icon.fa.fa-star-half-o.orange2
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      i.ace-icon.fa.fa-star.light-grey
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  h3.search-title
                                    a.blue(href='#') Thumbnail label
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam ...
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-xs-6.col-sm-4.col-md-3
                              .thumbnail.search-thumbnail
                                img.media-object(data-src='holder.js/100px200?theme=gray')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .caption
                                  .clearfix
                                    span.pull-right.label.label-grey.info-label Tokyo
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  h3.search-title
                                    a.blue(href='#') Thumbnail label
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam ...
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-xs-6.col-sm-4.col-md-3
                              .thumbnail.search-thumbnail
                                img.media-object(data-src='holder.js/100px200?theme=gray')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .caption
                                  .clearfix
                                    span.pull-right.label.label-grey.info-label Istanbul
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  h3.search-title
                                    a.blue(href='#') Thumbnail label
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam ...
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-xs-6.col-sm-4.col-md-3
                              .thumbnail.search-thumbnail
                                img.media-object(data-src='holder.js/100px200?theme=social')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .caption
                                  .clearfix
                                    span.pull-right.label.label-grey.info-label Chicago
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  h3.search-title
                                    a.blue(href='#') Thumbnail label
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam ...
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .space-12
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .row
                            .col-xs-12
                              .media.search-media
                                .media-left
                                  a(href='#')
                                    img.media-object(data-src='holder.js/72x72')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .media-body
                                  div
                                    h4.media-heading
                                      a.blue(href='#') Media heading
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  .search-actions.text-center
                                    span.text-info $
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span.blue.bolder.bigger-150 300
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;monthly
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .action-buttons.bigger-125
                                      a(href='#')
                                        i.ace-icon.fa.fa-phone.green
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      a(href='#')
                                        i.ace-icon.fa.fa-heart.red
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      a(href='#')
                                        i.ace-icon.fa.fa-star.orange2
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.search-btn-action.btn.btn-sm.btn-block.btn-info Book it!
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .media.search-media.disabled
                                .media-left
                                  a(href='#')
                                    img.media-object(data-src='holder.js/72x72')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .media-body
                                  div
                                    h4.media-heading
                                      a.blue(href='#') Media heading
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  .search-actions.text-center
                                    span.grey $
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span.grey.bolder.bigger-125 250
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;monthly
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .action-buttons.bigger-125
                                      a(href='#')
                                        i.ace-icon.fa.fa-phone.green
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      a(href='#')
                                        i.ace-icon.fa.fa-heart.red
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      a(href='#')
                                        i.ace-icon.fa.fa-star.orange2
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.search-btn-action.btn.btn-sm.btn-block.btn-grey.disabled Unavailable!
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .media.search-media
                                .media-left
                                  a(href='#')
                                    img.media-object(data-src='holder.js/72x72')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .media-body
                                  div
                                    h4.media-heading
                                      a.blue(href='#') Media heading
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  .search-actions.text-center
                                    span.text-info $
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span.blue.bolder.bigger-150 220
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;monthly
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .action-buttons.bigger-125
                                      a(href='#')
                                        i.ace-icon.fa.fa-phone.green
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      a(href='#')
                                        i.ace-icon.fa.fa-heart.red
                                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                      a(href='#')
                                        i.ace-icon.fa.fa-star.orange2
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a.search-btn-action.btn.btn-sm.btn-block.btn-info Book it!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .hide
                  #search-page-2.row.search-page
                    .col-xs-12.col-md-10.col-md-offset-1
                      .search-area.well.no-margin-bottom
                        form
                          .row
                            .col-md-6
                              .input-group
                                input.form-control(type='text', name='search', value='Hello World')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .input-group-btn
                                  button.btn.btn-primary.btn-sm(type='button')
                                    i.ace-icon.fa.fa-search.icon-on-right.bigger-110
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .space.space-6
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.grey About 263,000,000 results (0.74 seconds)
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .search-results
                        .search-result
                          h5.search-title
                            a(href='#') &quot;Hello, World!&quot; - Wikipedia, the free encyclopedia
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          a.text-success(href='#') en.wikipedia.org
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          p.search-content
                            | A &quot;
                            b Hello
                            | ,
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b World
                            | !&quot; program is a computer program that outputs &quot;
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b Hello
                            | ,
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b World
                            | !&quot; (or some variant thereof) on a display device. Because it is typically one of the ...
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .search-result
                          h5.search-title
                            a(href='#') Hello World! - GNU Project
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          a.text-success(href='#') www.gnu.org
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          p.search-content
                            b Hello World
                            | ! How the way people code &ldquo;
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b Hello World
                            | &rdquo; varies depending on their age and job ...
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .search-result
                          h5.search-title
                            a(href='#') HelloWorld.java - Introduction to Programming in Java
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          a.text-success(href='#') introcs.cs.princeton.edu
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          p.search-content
                            b HelloWorld
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;code in Java. ...
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b HelloWorld
                            | .java. Below is the syntax highlighted version of
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b HelloWorld
                            | .java from ...
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .search-result
                          h5.search-title
                            a(href='#') Hello, World! - Learn Python - Free Interactive Python Tutorial
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          a.text-success(href='#') www.learnpython.org
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          p.search-content
                            b Hello
                            | ,
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            b World
                            | ! Python is a very simple language, and has a very straightforward syntax. It encourages programmers to program without boilerplate (prepared) ...
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .search-result
                          h5.search-title
                            a(href='#') Hello World &middot; GitHub Guides
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          a.text-success(href='#') guides.github.com
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          p.search-content
                            | The
                            b Hello World
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;project is a time-honored tradition in computer programming. It is a simple exercise that gets you started when learning something new. Let&apos;s get ...
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .search-area.well.well-sm.text-center
                        ul.pagination
                          li.disabled
                            a(href='#')
                              i.ace-icon.fa.fa-angle-double-left
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li.active
                            a(href='#') 1
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li
                            a(href='#') 2
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li
                            a(href='#') 3
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li
                            a(href='#') 4
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li
                            a(href='#') 5
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li
                            a(href='#')
                              i.ace-icon.fa.fa-angle-double-right
                // PAGE CONTENT ENDS
              // /.col
            // /.row
          // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Application &copy; 2013-2014
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp; &nbsp;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.action-buttons
              a(href='#')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#')
                i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#')
                i.ace-icon.fa.fa-rss-square.orange.bigger-150
      | &#x9;&#x9;&#x9;
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    | &#x9;&#x9;
    script(src='assets/js/jquery-2.1.4.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.11.3.min.js')
    | &#x9;&#x9;
    script(type='text/javascript').
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    | &#x9;&#x9;
    script(src='assets/js/bootstrap.min.js')
    // page specific plugin scripts
    script(src='assets/js/tree.min.js')
    | &#x9;&#x9;
    script(src='assets/js/select2.min.js')
    | &#x9;&#x9;
    script(src='assets/js/jquery-ui.custom.min.js')
    | &#x9;&#x9;
    script(src='assets/js/jquery.ui.touch-punch.min.js')
    | &#x9;&#x9;
    script(src='assets/js/holder.min.js')
    // ace scripts
    script(src='assets/js/ace-elements.min.js')
    | &#x9;&#x9;
    script(src='assets/js/ace.min.js')
    // inline scripts related to this page
    script(type='text/javascript').
      jQuery(function($) {
      //data for tree element
      var category = {
      'for-sale' : {text: 'For Sale', type: 'folder'}	,
      'vehicles' : {text: 'Vehicles', type: 'item'}	,
      'rentals' : {text: 'Rentals', type: 'item'}	,
      'real-estate' : {text: 'Real Estate', type: 'item'}	,
      'pets' : {text: 'Pets', type: 'item'}	,
      'tickets' : {text: 'Tickets', type: 'item'}
      }
      category['for-sale']['additionalParameters'] = {
      'children' : {
      'appliances' : {text: 'Appliances', type: 'item'},
      'arts-crafts' : {text: 'Arts & Crafts', type: 'item'},
      'clothing' : {text: 'Clothing', type: 'item'},
      'computers' : {text: 'Computers', type: 'item'},
      'jewelry' : {text: 'Jewelry', type: 'item'},
      'office-business' : {text: 'Office', type: 'item'},
      'sports-fitness' : {text: 'Sports & Fitness', type: 'item'}
      }
      }
      var dataSource1 = function(options, callback){
      var $data = null
      if(!("text" in options) && !("type" in options)){
      $data = category;//the root tree
      callback({ data: $data });
      return;
      }
      else if("type" in options && options.type == "folder") {
      if("additionalParameters" in options && "children" in options.additionalParameters)
      $data = options.additionalParameters.children || {};
      else $data = {}//no data
      }
      callback({ data: $data })
      }
      $('#cat-tree').ace_tree({
      dataSource: dataSource1,
      multiSelect: true,
      cacheItems: true,
      'open-icon' : 'ace-icon tree-minus',
      'close-icon' : 'ace-icon tree-plus',
      'itemSelect' : true,
      'folderSelect': false,
      'selected-icon' : 'ace-icon fa fa-check',
      'unselected-icon' : 'ace-icon fa fa-times',
      loadingHTML : '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>'
      });
      $('.tree-container').ace_scroll({size: 250, mouseWheelLock: true});
      $('#cat-tree').on('closed.fu.tree disclosedFolder.fu.tree', function() {
      $('.tree-container').ace_scroll('reset').ace_scroll('start');
      });
      //select2 location element
      $('.select2').css('min-width', '150px').select2({allowClear:true});
      //jQuery ui distance slider
      $( "#slider-range" ).css('width','150px').slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 17, 67 ],
      slide: function( event, ui ) {
      var val = ui.values[$(ui.handle).index()-1] + "";
      if( !ui.handle.firstChild ) {
      $("<div class='tooltip bottom in' style='display:none;left:-6px;top:14px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
      .prependTo(ui.handle);
      }
      $(ui.handle.firstChild).show().children().eq(1).text(val);
      }
      }).find('span.ui-slider-handle').on('blur', function(){
      $(this.firstChild).hide();
      });
      //this is for demo only
      $('.thumbnail').on('mouseenter', function() {
      $(this).find('.info-label').addClass('label-primary');
      }).on('mouseleave', function() {
      $(this).find('.info-label').removeClass('label-primary');
      });
      //toggle display format buttons
      $('#toggle-result-format .btn').tooltip({container: 'body'}).on('click', function(e){
      $(this).siblings().each(function() {
      $(this).removeClass($(this).attr('data-class')).addClass('btn-grey');
      });
      $(this).removeClass('btn-grey').addClass($(this).attr('data-class'));
      });
      ////////////////////
      //show different search page
      $('#toggle-result-page .btn').on('click', function(e){
      var target = $(this).find('input[type=radio]');
      var which = parseInt(target.val());
      $('.search-page').parent().addClass('hide');
      $('#search-page-'+which).parent().removeClass('hide');
      });
      });
